{% extends "user/profile/base.htm" %}

{% block title %}{{ user.name }} {{ _('groups') }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <legend>{{ _('Groups') }}</legend>

                {% if len(user.groups) > 0 and not can_write_groups %}
                    {% for group in user.groups %}
                        <i class="fas fa-users"></i> {{ group.name }}<br>
                    {% endfor %}
                {% elif len(user.groups) > 0 %}
                    {% for group in user.groups %}
                        <i class="fas fa-users"></i> <a href="{{  url_for('group.view_users', group=group) }}">{{ group.name }}</a><br>
                    {% endfor %}
                {% else %}
                    <small>{{ _('You are not part of any groups.') }}</small>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
