{% extends "content.htm" %}

{% block title %}{{ view_model.m.name }} - {{ _('Meeting') }}{% endblock %}

{% block content %}

<div class="container">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <p>
            <a href="{{ url_for('meeting.view') }}">
                {{ _('Meetings') }}
            </a>
            <i class="fas fa-chevron-right"></i>
            <a href="{{ url_for('meeting.get_meeting', meeting=view_model.m) }}">
                {{ view_model.m.name }}
            </a>
        </p>
        <a href="{{ url_for('meeting.edit', meeting=view_model.m) }}"
           class="btn btn-warning float-right">
           <i class="far fa-edit"></i>
            {{ _('Edit') }}
        </a>
        <h1>{{ view_model.m.name }}</h1>
        <h5>
            <span class="badge badge-primary">{{ view_model.group.name }}</span>
            {% if view_model.m.cancelled %}
                <span class="badge badge-danger">{{ _('Cancelled') }}</span>
            {% endif %}
            <span {% if view_model.m.cancelled %}style="text-decoration: line-through"{% endif %}>
                <p>
                    {{ view_model.m.start_time | datetime(dt_format='%A %d-%m-%Y, %H:%M') }}
                     -
                    {{ view_model.m.end_time | datetime(dt_format='%H:%M') }}
                </p>
            </span>
        </h5>
        <h5>
            {{ _('Location') }}:
                {% if view_model.m.location %}
                    {{ view_model.m.location }}
                {% else %}
                    {{ _('TBA') }}
                {% endif %}
        </h5>
    </div>
    <div class="row">
        <div class="col-12">
            {% if view_model.m.description %}
                <h5>{{ _('Description') }}</h5>
                <p>{{ view_model.m.description }}</p>
            {% endif %}
        </div>
    </div>
    {% if view_model.m.modified_different_then_created() %}
        <div class="row">
            <div class="col-12">
                <p style="font-style: italic">{{ _('Last modified on') }} {{ view_model.m.modified | datetime(dt_format='%A %d-%m-%Y, %H:%M') }}.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
