{% extends "base/en.html" %}

{% block title -%}
    Bijlesdocent-registratie voor {{ tutor.course.name }} is goedgekeurd.
{%- endblock %}

{% block content -%}
    <p>
        Je bijlesdocent-registratie voor {{ tutor.course.name }} is goedgekeurd. Je kan nu bijlessen accepteren op je <a href="{{ tutoring_profile_url }}">bijlesprofiel</a>.
    </p>
{%- endblock %}
