{% extends "base/en.html" %}

{% block title -%}
    {{ ex_tutor }} heeft zich teruggetrokken van je bijlesaanvraag voor {{ tutoring.course.name }}.
{%- endblock %}

{% block content -%}
    <p>
        <b>{{ ex_tutor }}</b> heeft zich teruggetrokken van je bijlesaanvraag voor <b>{{tutoring.course.name}}</b>.
        VIA is op de hoogte gesteld en gaat op zoek naar een nieuwe bijlesdocent.
    </p>
    <p>
        Mocht je geen intresse meer hebben in een bijlesdocent, kan je de aanvraag
        <a href="{{ tutoring_url }}">hier</a> annuleren.
    </p>
{%- endblock %}
