<a href="{{ url_for('vue.jobs') }}">
    <h2>{{ _('Vacancies') }}</h2>
</a>

{% for job in jobs %}
<div class="job-simple">
    <div class="job-simple-left">
        <img src="{{ job.logo }}" alt="{{ job.company.name }}"/>
    </div>
    <div class="job-simple-right">
        <a href="{{ job.url }}">
            <h4> {{ job.title }} </h4>
        </a>
        <h6 class="text-muted">{{ job.company.name }}, {{ job.contract_of_service }}</h6>
        <p> {{ job.short_description | markdown | strip_tags('h1', 'h2', 'h3', 'h4', 'h5', 'h6') | safe }} </p>
    </div>
</div>
{% endfor %}
