<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="value",
    :allowClear="true",
    placeholder="Select pretix event",
    style="width: 100%",
    :filterOption="false",
    @search="debounceFetch",
    @focus="fetch('')",
    :notFoundContent="fetching ? undefined : 'No events found'",
    @change="(e) => $emit('change', e)"
)
    a-spin(v-if="fetching", slot="notFoundContent", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Select, Spin } from "ant-design-vue";
import { pretixApi } from "../../scripts/api/pretix";
import debounce from "../../utils/debounce";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
})
export default class FormPretixField extends Vue {
    @Prop() value;
    private data: { text: string; value: string }[] = [];
    private fetching = false;
    private debounceFetch = debounce(this.fetch, 300);

    private async fetch(value) {
        this.data = [];
        this.fetching = true;
        let events = await pretixApi.searchEvents(value);
        this.data = events.data.map((event) => ({
            text: `${event.name[this.$viaduct.locale]} (${event.slug})`,
            value: event.slug,
        }));
        this.fetching = false;
    }
}
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
