<template lang="pug">
div
    a-modal(
        title="Upload image",
        v-model="show",
        @ok="croppedImageOk",
        :maskClosable="false",
        :centered="true"
    )
        input.d-none(
            ref="input",
            type="file",
            name="image",
            accept="image/*",
            @change="setImage"
        )
        vue-cropper(
            ref="cropper",
            :src="currentFilePath",
            :view-mode="1",
            :initialAspectRatio="initialAspectRatio || NaN",
            preview=".preview"
        )
        a-button-group.d-flex.justify-content-center.mt-3.mb-3
            a-button(icon="drag", @click="$refs.cropper.setDragMode('move')")
            a-button(
                icon="scissor",
                @click="$refs.cropper.setDragMode('crop')"
            )
            a-button(icon="zoom-in", @click="$refs.cropper.relativeZoom(0.1)")
            a-button(
                icon="zoom-out",
                @click="$refs.cropper.relativeZoom(-0.1)"
            )
            a-button(icon="redo", @click="$refs.cropper.rotate(-10)")
            a-button(icon="undo", @click="$refs.cropper.rotate(10)")
            a-button(icon="left", @click="$refs.cropper.move(-10, 0)")
            a-button(icon="right", @click="$refs.cropper.move(10, 0)")
            a-button(icon="down", @click="$refs.cropper.move(0, 10)")
            a-button(icon="up", @click="$refs.cropper.move(0, -10)")

    img.preview-image.mb-6(v-show="hasImage", ref="picture", :src="previewSrc")
    br(v-if="hasImage")
    a-button-group
        a-button.mb-3(icon="picture", @click="showModal") Change image
        a-button.mb-3(
            v-if="showRemoveButton && hasImage",
            icon="delete",
            type="danger",
            @click="removeImage"
        )
            | Remove image
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Button, Modal, Select, Spin } from "ant-design-vue";
import VueCropper from "vue-cropperjs/dist/VueCropper";

@Component({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-modal": Modal,
        "a-button": Button,
        "a-button-group": Button.Group,
        "vue-cropper": VueCropper,
    },
})
export default class ImageCropperModal extends Vue {
    @Prop() currentFilePath: string;
    @Prop() initialAspectRatio: number;
    @Prop() showRemoveButton: boolean;
    @Prop({ default: "image/jpeg" }) mimeType: string;
    imageBlob: any | null = null;

    private show = false;
    private showCurrent = true;

    private showModal() {
        this.show = true;
        this.$nextTick(() => (this.$refs.input as HTMLInputElement).click());
    }

    private removeImage() {
        this.showCurrent = false;
        this.setImageBlob(null);
    }

    private get previewSrc() {
        if (this.imageBlob) {
            return URL.createObjectURL(this.imageBlob);
        } else if (this.currentFilePath && this.showCurrent) {
            return this.currentFilePath;
        }
        return "";
    }

    private setImage(e) {
        this.imageBlob = null;

        const file = e.target.files[0];
        if (file.type.indexOf("image/") === -1) {
            alert("Please select an image file");
            return;
        }
        if (typeof FileReader === "function") {
            const reader = new FileReader();
            reader.onload = (event) => {
                // rebuild cropperjs with the updated source
                (this.$refs.cropper as VueCropper).replace(
                    event.target!.result
                );
            };
            reader.readAsDataURL(file);
        } else {
            alert("Sorry, FileReader API not supported");
        }
    }

    private setImageBlob(blob: Blob | null) {
        this.imageBlob = blob;
        this.$emit("blob", blob);
    }

    private async croppedImageOk() {
        const cropper = this.$refs.cropper as VueCropper;

        let canvas = cropper.getCroppedCanvas({
            maxWidth: 2000,
            maxHeight: 2000,
            imageSmoothingEnabled: true,
            imageSmoothingQuality: "high",
        });

        await canvas.toBlob(this.setImageBlob, this.mimeType);

        this.show = false;
        (this.$refs.picture as HTMLImageElement).src = canvas.toDataURL();
    }

    private get hasImage() {
        return !!this.imageBlob || (this.showCurrent && !!this.currentFilePath);
    }
}
</script>

<style scoped lang="sass">
@import '~cropperjs/dist/cropper.css'

.preview-image
    max-height: 500px
</style>
