<template lang="pug">
a-config-provider(:locale="locale")
    router-view
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { ConfigProvider } from "ant-design-vue";
import nl from "ant-design-vue/lib/locale/nl_NL";
import en from "ant-design-vue/lib/locale/default";

@Component({
    components: {
        "a-config-provider": ConfigProvider,
    },
})
export default class App extends Vue {
    get locale(): string {
        return this.$viaduct.locale == "nl" ? nl : en;
    }
}
</script>
