<template lang="pug">
keep-alive
    div
        h1 Educations overview

        a-input-search.w-100(
            placeholder="Search education name",
            v-model="search"
        )
            template(v-slot:enterButton="")
                a-button(:href="addEducationUrl()", type="primary")
                    | Create new education
        a-table.mt-3(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }",
            @change="handleTableChange"
        )
            template(v-slot:programmeType="record") {{ record.programme_type | capitalize }}
            template(v-slot:action="record")
                a-button(type="link", :href="editEducationUrl(record)") Edit
                a-divider(type="vertical")
                a-popconfirm(
                    title="Sure to delete?",
                    @confirm="doDelete(record.id)"
                )
                    a-button(type="link") Delete
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import instance from "../utils/axios";
import Flask from "../utils/flask";
import { Education } from "../types/examination";
import { VuePaginatedAnt } from "../utils/VuePaginatedAnt";
import { Button, Divider, Input, Popconfirm, Table } from "ant-design-vue";

@Component({
    name: "education-overview",
    components: {
        "a-input-search": Input.Search,
        "a-button": Button,
        "a-table": Table,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
    },
})
export default class EducationOverview extends VuePaginatedAnt {
    data: Education[] = [];
    columns = [
        {
            title: "Education",
            dataIndex: "nl_name",
        },
        {
            title: "Education",
            dataIndex: "en_name",
        },
        {
            title: "Programme type",
            key: "programmeType",
            scopedSlots: { customRender: "programmeType" },
        },
        {
            title: "Action",
            key: "action",
            scopedSlots: { customRender: "action" },
        },
    ];

    async created() {
        await this.refreshListView();
    }

    async refreshListView() {
        try {
            this.loading = true;
            const resp = await instance.get(
                Flask.url_for("api.educations", {
                    search: this.search,
                    page: this.page,
                })
            );

            this.data = resp.data.data;
            this.pagination.pageSize = resp.data.page_size;
            this.pagination.total = resp.data.total;
        } finally {
            this.loading = false;
        }
    }

    private async doDelete(educationId) {
        try {
            this.loading = true;
            await instance.delete(
                Flask.url_for("api.education", {
                    education_id: educationId,
                })
            );
            await this.refreshListView();
        } finally {
            this.loading = false;
        }
    }

    private addEducationUrl() {
        return (
            Flask.url_for("education.add_education", {}) + "?redir=educations"
        );
    }

    private editEducationUrl(education) {
        return Flask.url_for("education.edit_education", {
            education: education.id,
        });
    }
}
</script>
