<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") Create activity
    h1(v-if="id") Edit activity
    i.fas.fa-arrow-left
    | &nbsp;
    a(href="/activities/") Activity overview
    br
    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", label="Dutch title")
            a-input(
                v-decorator="['nl_name', { rules: [{ required: true, message: 'Please enter the Dutch title.' }] }]"
            )

        a-form-item(v-bind="formItemLayout", label="English title")
            a-input(
                v-decorator="['en_name', { rules: [{ required: true, message: 'Please enter the English title.' }] }]"
            )

        a-form-item(v-bind="formItemLayout", label="Dutch description")
            vue-simple-mde(
                v-decorator="['nl_description', { rules: [{ required: true, message: 'Please enter the Dutch description.' }]}]"
            )

        a-form-item(v-bind="formItemLayout", label="English description")
            vue-simple-mde(
                v-decorator="['en_description', { rules: [{ required: true, message: 'Please enter the English description.' }]}]"
            )

        a-form-item(
            v-bind="formItemLayout",
            label="Price",
            extra="Displayed everywhere except on pay button. When empty, it will use the form price if available."
        )
            a-input(v-decorator="['price']")

        a-form-item(
            v-bind="formItemLayout",
            label="Location",
            :validateStatus="this.form.getFieldValue('location') ? 'success' : 'error'",
            help=""
        )
            a-input-group(compact)
                a-select(
                    style="width: 20%",
                    v-decorator="['locationType', { initialValue: 'maps', rules: [{ required: true, message: 'Please enter the location type.' }] }]"
                )
                    a-select-option(value="maps") Maps
                    a-select-option(value="url") URL
                    a-select-option(value="Other") Other
                a-input(
                    style="width: 80%",
                    v-decorator="['location', { rules: [{ required: true, message: 'Please enter the location.' }] }]"
                )

        a-form-item(v-bind="formItemLayout", label="Activity date and time")
            a-range-picker(
                v-decorator="['date', {rules: [{ type: 'array', required: true, message: 'Please select a date-time range.' }]}]",
                :showTime="{ format: 'HH:mm' }",
                :placeholder="['Start Time', 'End Time']"
            )

        a-form-item(v-bind="formItemLayout", label="Pretix event")
            form-pretix-field(v-decorator="['pretix']")

        a-form-item(v-bind="formItemLayout", label="Activity image")
            img.mb-6(
                v-show="!!id || !!imageBlob",
                ref="picture",
                :src="imageSrc"
            )
            br(v-if="!!id || !!imageBlob")
            a-button.mb-3(icon="picture", @click="selectImage") Change image

        a-form-item(
            :wrapperCol="{ ...{ xs: { span: 24 }, sm: { span: 20 } }, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-alert(type="warning")
                template(slot="message")
                    |#[b Poster] Remember to request a poster with the marketingcommittee #[a(href="/aanvragen") here].
            a-button-group
                a-button(:href="returnUrl") Back
                a-button(type="primary", @click="save") Save
                a-button(type="primary", @click="saveAndRedirect") Save and view

        a-modal(
            title="Upload image",
            v-model="modal",
            @ok="croppedImageOk",
            :maskClosable="false"
        )
            input.d-none(
                ref="input",
                type="file",
                name="image",
                accept="image/*",
                @change="setImage"
            )
            vue-cropper(
                ref="cropper",
                :src="imageSrc",
                :view-mode="1",
                preview=".preview"
            )
            a-button-group.d-flex.justify-content-center.mt-3.mb-3
                a-button(
                    icon="drag",
                    @click="$refs.cropper.setDragMode('move')"
                )
                a-button(
                    icon="scissor",
                    @click="$refs.cropper.setDragMode('crop')"
                )
                a-button(
                    icon="zoom-in",
                    @click="$refs.cropper.relativeZoom(0.1)"
                )
                a-button(
                    icon="zoom-out",
                    @click="$refs.cropper.relativeZoom(-0.1)"
                )
                a-button(icon="redo", @click="$refs.cropper.rotate(-10)")
                a-button(icon="undo", @click="$refs.cropper.rotate(10)")
                a-button(icon="left", @click="$refs.cropper.move(-10, 0)")
                a-button(icon="right", @click="$refs.cropper.move(10, 0)")
                a-button(icon="down", @click="$refs.cropper.move(0, 10)")
                a-button(icon="up", @click="$refs.cropper.move(0, -10)")
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import VueSimpleMde from "../common/markdown-editor.vue";
import { validateAntForm } from "../../utils/form";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import {
    Alert,
    Button,
    DatePicker,
    Form,
    Input,
    Modal,
    Select,
} from "ant-design-vue";
import moment from "moment";
import FormPretixField from "../form/form_pretix_field.vue";
import VueCropper from "vue-cropperjs/dist/VueCropper";
import { activityApi } from "../../scripts/api/activity";
import LoadingContainer from "../loading_container.vue";

@Component({
    components: {
        "loading-container": LoadingContainer,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-alert": Alert,
        "a-button": Button,
        "a-modal": Modal,
        "a-button-group": Button.Group,
        "a-range-picker": DatePicker.RangePicker,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-input-group": Input.Group,
        "vue-simple-mde": VueSimpleMde,
        "vue-cropper": VueCropper,
        "form-pretix-field": FormPretixField,
    },
})
export default class EditActivity extends Vue {
    private loading = true;
    private modal = false;
    private form: WrappedFormUtils | null = null;
    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            md: { span: 4 },
        },
        wrapperCol: {
            xs: { span: 24 },
            md: { span: 18 },
        },
    };
    private imageBlob: any | null = null;
    private mapsPrefix = "https://maps.google.com/?q=";

    get id() {
        return parseInt(this.$route.params["activityId"]) || null;
    }

    created() {
        this.form = this.$form.createForm(this);
    }

    private selectImage() {
        this.modal = true;
        this.$nextTick(() => (this.$refs.input as HTMLInputElement).click());
    }

    get imageSrc() {
        if (this.imageBlob) {
            return URL.createObjectURL(this.imageBlob);
        } else if (this.id) {
            return Flask.url_for("activity.picture", { activity: this.id });
        }
        return "";
    }

    get returnUrl() {
        if (this.id) {
            return Flask.url_for("activity.get_activity", {
                activity: this.id,
            });
        } else {
            return Flask.url_for("activity.view");
        }
    }

    private setImage(e) {
        this.imageBlob = null;

        const file = e.target.files[0];
        if (file.type.indexOf("image/") === -1) {
            alert("Please select an image file");
            return;
        }
        if (typeof FileReader === "function") {
            const reader = new FileReader();
            reader.onload = (event) => {
                // rebuild cropperjs with the updated source
                (this.$refs.cropper as VueCropper).replace(
                    event.target!.result
                );
            };
            reader.readAsDataURL(file);
        } else {
            alert("Sorry, FileReader API not supported");
        }
    }

    private async croppedImageOk() {
        const cropper = this.$refs.cropper as VueCropper;

        let canvas = cropper.getCroppedCanvas({
            maxWidth: 2000,
            maxHeight: 2000,
            imageSmoothingEnabled: true,
            imageSmoothingQuality: "high",
        });

        await canvas.toBlob(async (blob) => {
            this.imageBlob = blob;
        }, "image/jpeg");

        this.modal = false;
        (this.$refs.picture as HTMLImageElement).src = canvas.toDataURL();
    }

    private async uploadPictureIfNeeded() {
        if (this.imageBlob) {
            await activityApi.setActivityPicture(this.id, this.imageBlob);
        }
    }

    async mounted() {
        try {
            if (this.id !== null) {
                const resp = (
                    await instance.get(
                        Flask.url_for("api.activity", { activity: this.id })
                    )
                ).data;

                let location, locationType;
                if (resp.location.indexOf(this.mapsPrefix) == 0) {
                    location = decodeURIComponent(
                        resp.location.substr(this.mapsPrefix.length)
                    );
                    locationType = "maps";
                } else if (
                    resp.location.indexOf("http://") == 0 ||
                    resp.location.indexOf("https://") == 0
                ) {
                    location = resp.location;
                    locationType = "url";
                } else {
                    location = resp.location;
                    locationType = "other";
                }

                this.form!.setFieldsValue({
                    nl_name: resp.name.nl,
                    en_name: resp.name.en,
                    nl_description: resp.description.nl,
                    en_description: resp.description.en,
                    price: resp.price,
                    location: location,
                    locationType: locationType,
                    date: [moment(resp.start_time), moment(resp.end_time)],
                    pretix: resp.pretix_event_slug
                        ? {
                              key: resp.pretix_event_slug,
                              label: resp.pretix_event_slug,
                          }
                        : undefined,
                });
            }
        } finally {
            this.loading = false;
        }
    }

    private async save(): Promise<boolean> {
        if (this.loading) return false;
        let values;
        try {
            values = await validateAntForm(this.form!);
        } catch (e) {
            return false; // Form didn't validate
        }

        try {
            this.loading = true;
            let locationUrl;
            if (values.locationType == "maps") {
                locationUrl =
                    this.mapsPrefix + encodeURIComponent(values.location);
            } else {
                locationUrl = values.location;
            }
            const body = {
                name: { en: values.en_name, nl: values.nl_name },
                description: {
                    en: values.en_description,
                    nl: values.nl_description,
                },
                price: values.price ? values.price : "",
                location: locationUrl,
                start_time: values.date[0].toISOString(),
                end_time: values.date[1].toISOString(),
                pretix_event_slug: values.pretix ? values.pretix.key : "",
            };
            if (this.id) {
                await activityApi.updateActivity(this.id, body);
            } else {
                const resp = await activityApi.createActivity(body);
                await this.$router.replace({
                    name: "activities-edit",
                    params: { activityId: resp.data.id.toString() },
                });
            }

            await this.uploadPictureIfNeeded();

            await this.$notification.success({
                message: "Success",
                description: "Activity successfully saved.",
            });
            return true;
        } finally {
            this.loading = false;
        }
    }

    public async saveAndRedirect() {
        if (await this.save()) {
            // Wait 300ms to navigate to the next page, to show the notification.
            // The delay can be removed when the news.view page is in vue.
            setTimeout(
                () =>
                    (window.location.href = Flask.url_for(
                        "activity.get_activity",
                        { activity: this.id }
                    )),
                300
            );
        }
    }
}
</script>

<style lang="sass">
@import '~cropperjs/dist/cropper.css'
</style>
