<ul class="nav nav-language">
    <li class="nav-item">
        <a class="nav-link {% if get_locale() == 'nl' %}  active  {% endif %}"
            href="{{url_for('lang.set_lang', lang='nl')}}">Nederlands</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if get_locale() == 'en' %}  active  {% endif %}"
            href="{{url_for('lang.set_lang', lang='en')}}">English</a>
    </li>
</ul>
