{% if current_user.is_anonymous %}

    {{ render_uvanetid_signin_button(_('Log in with UvA-net ID'), href=url_for('saml.login'), small=True) }}
    <hr class="hr-small">

    <form method="post" name="sign-in" id="sign-in-menu"
          action="{{ url_for('login.sign_in') }}">
        {{ login_form.csrf_token }}
        {{ render_field(login_form.email) }}
        {{ render_field(login_form.password) }}

        {{ render_submit('Log in') }}
        <ul class='list-unstyled' id='dropmenu-list'>
            <li>
                <a href="{{ url_for('signup.sign_up') }}">{{ _('Register') }}</a>
            </li>
            <li>
                <a href="{{ url_for('signup.request_password') }}">{{ _('Forgot password?') }}</a>
            </li>
        </ul>
    </form>
{% else %}
    <img src="{{ navigation_view.avatar }}" alt="User avatar"
         class="user-image img-rounded d-none d-sm-block">
    <div class="user-information">
        <h4 class="username">{{ navigation_view.name }}</h4>
        <p>{{ navigation_view.email }}</p>
        <p>
            <i class="fas fa-user"></i>
            <a href="{{ url_for('user.view_single_user', user=current_user) }}">{{ _("Show profile") }}</a>
        </p>
        {% if navigation_view.show_admin_link %}
            <p>
                <i class="fas fa-cogs"></i>
                <a href="{{ url_for('admin.view') }}">{{ _('Admin') }}</a>
            </p>
        {% endif %}
    </div>
    <div class="logout-container">
        <a href="{{ url_for('login.sign_out') }}">
            <button class="btn btn-primary fullWidth">{{ _("Log off") }}</button>
        </a>
    </div>
{% endif %}
