<p>
  {% for tracker in backtrack %}
    <a href="{{ tracker.href }}">{{ tracker.title }}</a>
      {% if tracker != backtrack[-1] %}
      <i class="fas fa-chevron-right"></i>
      {% endif %}
  {% endfor %}
</p>
