.committee-card {
    .committee-edit {
        position: absolute;
        top: 1em;
        right: 1em;
    }

    .committee-content {
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    .committee-title {
        flex: 0 1 auto;

        .badge {
            background-color: #304ba3;
        }
    }

    .committee-text {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .committee-buttons {
        flex: 0 1 auto;
    }

    .committee-picture {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-top: 10 / 16 * 100%;
        position: relative;

        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .committee-difficulty {
        .committee-difficulty-filled {
            color: #2e4c9c;
        }
    }
}
