label.checkbox {
    font-weight: normal;
}
.checkbox {
    padding: 15px;
}

.overflow-dots {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#sublogo {
    min-height: 120px;
}

#login-info {
    text-align: right;
}

.nav a {
    overflow: visible !important;
}

p.report-bug {
    position: absolute;
    right: 15px;
}

#navigation_backtrack {
    font-size: 12px;
    padding-left: 33px;
}

/* Sponsors */

.sponsors {
    margin-top: 0px;
}

/* align sponsors on one line */
.sponsors div {
    height: 150px;
}

.sponsors div:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sponsors a {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#search {
    padding: 6px;
}

.logo {
    margin: 10px;
}

.sponsor {
    float: left;
    clear: none;
    width: 180px;
    padding: 2em;
}
.mainblock {
    margin-bottom: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 560px;
}

.newsrole .scroll {
    height: 1240px;
    overflow: hidden;
}

.edit-group {
    margin-right: 8px;
}

/* User Pages */

.user_single dl,
.user_single dt,
.user_single dd {
    float: left;
    margin: 0;
}

.user_single dt,
.user_single dd {
    min-height: 20px;
    border-top: 1px dashed #eee;
}

.user_single {
    padding: 0;
}

.user_single dt {
    text-transform: capitalize;
    width: 140px;
    padding: 5px 5px 5px 0px;
}

.user_single dd {
    width: 200px;
    padding: 5px 0;
}

.user_single td {
    border-top: 1px dashed #eee;
}

.user_single h1 {
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
}

.user_single img {
    margin-right: 15px;
    max-width: 100px;
    max-height: 100px;
}

/* Form overview rues. */
.view-results {
    display: inline-block;
    width: 100px;
}

.nav a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#wrapper {
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    bottom: 0;
}

a.selected_line {
    background-color: rgba(194, 194, 194, 0.25);
    border-left: 5px solid rgb(119, 119, 119);
}

/* new css */

.shadow {
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
}

#sign-in {
    padding: 20px 0px 60px 0px;
}

#sign-in .list-inline {
    margin-top: 20px;
}

#dropmenu-list {
    margin-top: 10px;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav > li > a.active {
}

.invisible {
    visibility: hidden;
}

/*
 * Custom table CSS
 */
#datatable {
    cursor: pointer;
}

.diff {
    border: 1px solid #cccccc;
    background: none repeat scroll 0 0 #f8f8f8;
    white-space: normal;
    word-wrap: break-word;
}

.diff .control {
    background-color: #eaf2f5;
    color: #999999;
}

.diff .insert {
    background-color: #ddffdd;
    color: #000000;
}

.diff .insert .highlight {
    background-color: #aaffaa;
    color: #000000;
}

.diff .delete {
    background-color: #ffdddd;
    color: #000000;
}

.diff .delete .highlight {
    background-color: #ffaaaa;
    color: #000000;
}

.text-monospace {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.url-copy-textbox {
    @extend .text-monospace;
    cursor: default !important;
    background-color: initial !important;
    opacity: initial !important;
}

#home {
    #introductiong {
        background: #fff;
        padding: 20px;
        box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
    }

    #introduction {
        h1 {
            margin: 0 0 20px 0;
            font-weight: 400;
            color: #000;
            font-size: 80px;
            text-align: left;
        }

        p {
            font-size: 22px;
            line-height: 26px;
            font-weight: 400;
            color: #000;
            padding-right: 20px;
        }
    }

    #activityNewsTab {
        background: grey;
        border-bottom: 0px;

        li {
            margin: 0;
        }

        a {
            border-radius: 0;
            background: grey;
            color: #fff;
            border: 0;
            margin: 0;
        }

        .active a {
            background: #004b99;
        }
    }
}

#activityNewsContainer {
    box-shadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.7);
}

#activityNewsContent {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);

    a {
        color: #004b99;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    h3 {
        margin: 5px 0 5px 0;
    }

    hr {
        border-top: 2px solid #004b99;
        margin: 5px 0 5px 0;
    }
}

/* DOMJUDGE */

$DOMJUDGE_RED: #d9534f;
$DOMJUDGE_GREEN: #5cb85c;
$DOMJUDGE_ORANGE: #f0ad4e;
$DOMJUDGE_LIGHTBLUE: #5ab0c9;
$DOMJUDGE_LIGHTGREEN: #7cd449;

.list-group-item .name {
    display: inline;
}

.list-group-item .comment {
    float: right;
    font-weight: bold;
}

.domjudge-problem-badge {
    border-radius: 4px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border: 2px solid transparent;
}

.domjudge-problem-title {
    @extend .domjudge-problem-badge;
    color: inherit;
    text-decoration: inherit;
    width: 100%;
}

.domjudge-problem-title-name {
    white-space: nowrap;
}

.domjudge-problem-title:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.domjudge-problem-untried {
    background-color: white;
}
.domjudge-problem-judging,
.domjudge-problem-pending {
    background-color: $DOMJUDGE_LIGHTBLUE !important;
}

.domjudge-problem-incorrect {
    background-color: $DOMJUDGE_RED !important;
}

.domjudge-problem-solved {
    background-color: $DOMJUDGE_LIGHTGREEN !important;
}

.domjudge-problem-solved-first {
    background-color: $DOMJUDGE_GREEN !important;
}

.domjudge-problem-cell {
    font-weight: bold;
}

.domjudge-problem-judging-cell,
.domjudge-problem-pending-cell {
    @extend .domjudge-problem-judging, .domjudge-problem-cell;
    color: white;
}

.domjudge-problem-solved-first-cell {
    @extend .domjudge-problem-solved-first, .domjudge-problem-cell;
    color: white;
}

.domjudge-problem-untried-cell {
    @extend .domjudge-problem-untried, .domjudge-problem-cell;
}

.domjudge-problem-incorrect-cell {
    @extend .domjudge-problem-incorrect, .domjudge-problem-cell;
    color: white;
}

.domjudge-problem-solved-cell {
    @extend .domjudge-problem-solved, .domjudge-problem-cell;
    color: white;
}

.domjudge-legend {
    margin-bottom: 0;
}

.domjudge-legend-list {
    @extend .list-group;
}

.domjudge-legend-item {
    @extend .list-group-item;
    padding: 5px 5px;
    text-align: center;
    font-weight: bolder;
}

.domjudge-legend-item-solved-first {
    @extend .domjudge-legend-item, .domjudge-problem-solved-first;
    color: white;
}

.domjudge-legend-item-solved {
    @extend .domjudge-legend-item, .domjudge-problem-solved;
    color: white;
}

.domjudge-legend-item-incorrect {
    @extend .domjudge-legend-item, .domjudge-problem-incorrect;
    color: white;
}

.domjudge-legend-item-untried {
    @extend .domjudge-legend-item, .domjudge-problem-untried;
}

.domjudge-legend-item-judging {
    @extend .domjudge-legend-item, .domjudge-problem-judging;
    color: white;
}

.domjudge-problem-link {
    white-space: nowrap;
}

#domjudge-problem-head {
    padding-bottom: 5px;
}

#domjudge-submit-solution-label {
    margin-bottom: 20px;
}

#domjudge-time-table td {
    padding-left: 20px;
    padding-top: 5px;
}

.domjudge-submission {
    font-weight: bold;
    color: white;
}

.domjudge-submission-blue {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_LIGHTBLUE;
}

.domjudge-submission-orange {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_ORANGE;
}

.domjudge-submission-red {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_RED;
}

.domjudge-submission-green {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_GREEN;
}

.domjudge-submission-timelimit {
    @extend .domjudge-submission;
    background-color: $DOMJUDGE_ORANGE;
}

@media (min-width: 992px) {
    #domjudge-scoreboard-table {
        width: 980px;
        overflow-x: scroll;
    }
}

@media (min-width: 1200px) {
    #domjudge-scoreboard-table {
        width: 100%;
        overflow-x: auto;
    }

    .domjudge-scoreboard-content {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        width: -moz-fit-content;
    }
}

@media (max-width: 768px) {
    #domjudge-buttons {
        margin-right: 10px;
    }
}

/* Fix sentry feedback form */
.sentry-error-embed * {
    position: relative;
}

@media (min-width: 992px) {
    .email-login-tab {
        border-left: 1px solid #e5e5e5;
    }
}

@media (max-width: 992px) {
    .email-login-tab {
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
        margin-top: 20px;
    }
}

.hr-small {
    margin-top: 10px;
    margin-bottom: 10px;
}
