@import "variables/app";

.icon {
    color: $via-blue;
}

.link {
    cursor: pointer;
    color: $via-blue;
}

.link:hover {
    text-decoration: underline;
}

.text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: $via-blue;
}
