blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0.4em 10px;
    padding: 0.25em 10px;
    quotes: "“" "”" "‘" "’";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
