{% extends "base.htm" %}

{% block title%}{{ _("Committees") }}{% endblock %}

{% block page %}
<div class="row">
    <div class="col">
        <h2>{{_('Committees')}}</h2>
    </div>
    {% if can_write %}
    <div class="col">
        <div class="btn-group float-right">
            <a class="btn btn-info" href="{{ url_for('vue.committee_edit') }}"><i class="far fa-edit"></i> {{ _('Create') }}</a>
        </div>
    </div>
    {% endif %}
</div>

<div class="row row-cols-md-2 row-cols-1">
    {% for rev in revisions %}
    <div>
        <div class="card committee-card m-2">
            <div class="committee-picture">
                <div>
                    <img src="{{ rev.picture_path }}" alt="{{ _('Committee picture') }}">
                </div>
            </div>

            <div class="card-body">
                <div class="committee-content">
                    {% if can_write %}
                    <div class="committee-edit">
                        <a class="btn btn-info" href="{{ rev.edit_url }}"><i class="far fa-edit"></i> {{ _('Edit') }}</a>
                    </div>
                    {% endif %}

                    <div class="committee-title mb-1">
                        <h5 class="card-title mb-0">
                            <a href='{{ rev.path }}'>{{ rev.title }}</a>
                            {% if rev.looking_for_new_members %}
                            <small class="badge badge-secondary">{{ _('Looking for new members!') }}</small>
                            {% endif %}
                        </h5>

                        <div class="committee-difficulty">
                            <small>{{ _('Time pressure') }}</small>
                            <span class="committee-difficulty-filled">{% for i in range(rev.pressure) %}&#9679{% endfor %}</span>{% for i in range(5 - rev.pressure) %}&#9675{% endfor %}
                        </div>
                        {% for tag in rev.tags %}
                            <span class="badge badge-info">{{ tag }}</span>
                        {% endfor %}
                    </div>

                    <div class="committee-text mb-2">
                        {{ rev.short_description | markdown | strip_tags('a') | strip_tags('img') | safe }}
                    </div>

                    <div class="committee-buttons">
                        <a href="{{ rev.path }}" class="btn btn-outline-primary">{{ _('More information') }}</a>
                        {% if rev.looking_for_new_members %}
                            {% if rev.email %}
                                <a href="mailto:{{ rev.email }}" class="btn btn-outline-info">{{ _('committee.sign_up') }}</a>
                            {% else %}
                                <a href="{{ rev.path }}" class="btn btn-outline-info">{{ _('committee.sign_up') }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>
{% endblock %}
