<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") {{ $t('Create challenge') }}
    h1(v-if="id") {{ $t('Edit challenge') }}

    a-form(:form="form", @submit.prevent="save")
        a-form-item(v-bind="formItemLayout", :label="$t('Name')")
            a-input(
                v-decorator="['name', { rules: [{ required: true, message: $t('Please enter the name') }]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Description')")
            a-textarea(
                v-decorator="['description', { rules: [{ required: true, message: $t('Please enter the description') }]}]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Hint')")
            a-input(v-decorator="['hint']")
        a-form-item(v-bind="formItemLayout", :label="$t('Start date')")
            a-date-picker(
                v-decorator="['start_date', { rules: [{ required: true, message: $t('Please enter the start date') }] }]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('End date')")
            a-date-picker(
                v-decorator="['end_date', { rules: [{ required: true, message: $t('Please enter the end date') }] }]"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Weight')")
            a-input-number(
                v-decorator="['weight', { rules: [{ required: true, message: $t('Please enter the weight') }] , initialValue: 1}]",
                :min="0"
            )
        a-form-item(v-bind="formItemLayout", :label="$t('Answer')")
            a-input(
                v-decorator="['answer', { rules: [{ required: true, message: $t('Please enter the answer') }]}]"
            )

        a-form-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'challenge-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | {{ $t('Back') }}
                a-button(type="primary", html-type="submit") {{ $t('Submit') }}
</template>

<script lang="ts">
import { validateAntForm } from "../../utils/form";
import { Component, Vue } from "vue-property-decorator";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { Form, DatePicker, Input, InputNumber, Button } from "ant-design-vue";
import { challengeApi } from "../../scripts/api/challenge";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";

@Component({
    components: {
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-textarea": Input.TextArea,
        "a-input-number": InputNumber,
        "a-input": Input,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-date-picker": DatePicker,
        "loading-container": LoadingContainer,
    },
})
export default class EditChallenge extends Vue {
    loading = true;
    form: WrappedFormUtils | null = null;
    formItemLayout = {
        labelCol: {
            span: 24,
            lg: { span: 4 },
        },
        wrapperCol: {
            span: 24,
            lg: { span: 20 },
        },
    };

    created() {
        this.form = this.$form.createForm(this);
    }

    async mounted() {
        if (this.id) {
            const resp = (await challengeApi.getChallenge(this.id)).data;
            this.form!.setFieldsValue({
                name: resp.name,
                description: resp.description,
                hint: resp.hint,
                start_date: moment(resp.start_date),
                end_date: moment(resp.end_date),
                weight: resp.weight,
                answer: resp.answer,
            });
        }

        this.loading = false;
    }

    get id(): number {
        return parseInt(this.$route.params["challengeId"]);
    }

    private async save() {
        let values;
        try {
            values = await validateAntForm(this.form!);
            values.start_date = values.start_date.format("YYYY-MM-DD");
            values.end_date = values.end_date!.format("YYYY-MM-DD");
        } catch (e) {
            return; // Form didn't validate
        }
        try {
            this.loading = true;
            if (!this.id) {
                const resp = (await challengeApi.createChallenge(values)).data;
                await this.$router.replace({
                    name: "challenge-edit",
                    params: { challengeId: String(resp.id) },
                });
            } else {
                await challengeApi.updateChallenge(this.id, values);
            }
            this.$notification.success({
                message: this.$t("Success") as string,
                description: this.$t("Challenge successfully saved.") as string,
            });
            await this.$router.push({ name: "challenge-overview" });
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./edit_challenge.json"></i18n>
