<template>
    <div>
        <a-breadcrumb>
            <a-breadcrumb-item>
                <a href="/">{{ $t("breadcrumb.home") }}</a>
            </a-breadcrumb-item>
            <a-breadcrumb-item>{{ $t("breadcrumb.bug") }}</a-breadcrumb-item>
        </a-breadcrumb>
        <h1>{{ $t("title") }}</h1>
        <BugReportForm @issue="(e) => issuesCreated.push(e)" />
        <a-alert
            v-for="issueCreated in issuesCreated"
            :key="issueCreated.id"
            show-icon
            class="mb-3"
            type="success"
        >
            <template #message>
                <i18n path="alert.message">
                    <template #title>
                        {{ issueCreated.title }}
                    </template>
                    <template #gitlab>
                        <a
                            :href="issueCreated.web_url"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Gitlab
                        </a>
                    </template>
                </i18n>
            </template>
            <template #description>
                <i18n path="alert.description">
                    <template #issue>
                        <a
                            :href="issueCreated.web_url"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            {{ $t("alert.description.issue") }}
                        </a>
                    </template>
                </i18n>
            </template>
        </a-alert>
    </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import BugReportForm from "./BugReportForm.vue";
import { Alert, Breadcrumb } from "ant-design-vue";
import { BugResponse } from "../../scripts/api/bug";

@Component({
    components: {
        BugReportForm: BugReportForm,
        "a-alert": Alert,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
})
export default class BugReport extends Vue {
    issuesCreated: BugResponse[] = [];
}
</script>
<i18n src="./BugReport.json"></i18n>
