<template lang="pug">
.row
    .col-12
        h1 {{ $t('Error 404 - Not found') }}

        p {{ $t('The requested URL was not found.') }}

        img.mt-5(
            :src="linkURL",
            style="max-width: 300px;",
            :alt="$t('Oh no! It looks like you have found a dead Link!')"
        )
        p
            i {{ $t('Oh no! It looks like you have found a dead Link!') }}

        router-link(
            :to="{ name: 'create-page', query: { path: $route.params.pathMatch } }",
            v-if="canWrite"
        )
            a-button#newPageButton(type="link", icon="edit")
                i {{ $t('Create a page for this URL in the page overview') }}
</template>

<i18n src="./404.json"></i18n>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import Flask from "../../utils/flask";
import { authStore } from "../../store/auth";
import { Button } from "ant-design-vue";

@Component({
    components: {
        "a-button": Button,
    },
})
export default class PageNotFound extends Vue {
    private canWrite = false;

    async mounted() {
        this.canWrite = !!authStore.roles.PAGE_WRITE?.has_role;
    }

    get linkURL() {
        return Flask.url_for("static", { filename: "img/404.png" });
    }
}
</script>

<style scoped lang="sass">
#newPageButton
    padding-left: 0
</style>
