{% from "macros/form.htm" import render_form %}
{% from "user/macros/uvanetid.htm" import render_uvanetid_signin_button %}

{% extends "base.htm" %}

{% block title %}{{ _('Log in') }}{% endblock %}

{% block page %}
    <legend>{{ _('Log in') }}</legend>

    <div class="row">
    {% if show_uvanetid_login %}
        <div class="col-md-4">
            <label>{{ _('UvA Account') }}</label>
            {{ render_uvanetid_signin_button(_('Log in with UvA-net ID'), href=url_for('saml.login')) }}
        </div>
        <div class="col-md-8 email-login-tab">
    {% else %}
        <div class="col-md-12">
    {% endif %}

            {{ render_form(form) }}

            <ul class='list-unstyled' id='dropmenu-list'>
                <li><a href="{{ url_for('signup.sign_up') }}">{{ _('Register') }}</a></li>
                <li>
                    <a href="{{ url_for('signup.request_password') }}">{{ _('Forgot password?') }}</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
