{% extends "base/en.html" %}

{% block title -%}
    Form '{{ form_name }}' was submitted.
{%- endblock %}

{% block content -%}
    <p>
        A form you are following has been filled in by someone:
    </p>
    <p>
        <b><a href="{{ submission_user_url }}">{{ submission_user.name }}</a></b>
        has filled in the form
        <b><a href="{{ form_url }}">{{ form_name }}</a></b>
    </p>
    <p>
        <i>
            You are receiving this message because you are following the form <a href="{{ form_url }}">{{ form_name }}</a>.<br>
            To stop receiving these messages, please unfollow the form.
        </i>
    </p>
{%- endblock %}
