<a href="/activities">
    <h2>{{_('Activity overview')}}</h2>
</a>

{% for activity in activities %}
    <div class="activity-simple">
        <div class="activity-header" >
            <div class="activity-thumbnail"></div>
            <h3>
                <a href="{{ activity.activity_url }}">{{ activity.title }}</a>
            </h3>
            <span class="activity-till-now small text-light">
                {{ activity.relative_time }}
            </span>
        </div>
        <div class="activity-simple-content">
            <ul class="list-unstyled">
                <li class="overflow-dots"><i class="far fa-calendar-alt"></i>
                    {{ activity.formatted_time }}</li>

                <li class="overflow-dots"><i class="fas fa-map-marker-alt"></i>
                    {{ activity.location_name }}</li>
            </ul>
            {{ activity.description
               | markdown_summary(400,
                                 truncate_method="word",
                                 read_more="...")
               | safe }}
        </div>
    </div>
{% endfor %}

<p class="mb-5 small">
{{_('Do you have an idea for an activity?')}}<br>
{{_('Send an e-mail to the')}} <a href="mailto:actie@svia.nl">{{_('Activitycommittee')}}</a>.
</p>
