{% extends "content.htm" %}

{% block title %}{{ _('Delete newsletter') }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Verwijderen</h5>
    </div>
    <div class="card-body">
        <b>{{ _('Are you sure you want to delete this entry?') }}</b>
        <form method="POST">
            <div class="btn-group" style="margin-top: 10px">
                <input type="submit" value="{{ _('Yes') }}" class="btn btn-danger"
                    style="width: 70px"/>
                    <a class="btn btn-primary" href="{{ url_for('.root') }}"
                        style="width: 70px">{{ _('No') }}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
