{% extends "content.htm" %}

{% block title %}{{ _('Newsletters') }}{% endblock %}

{% block includes %}
    <script>
        function copyToClipboard(id) {
            let text = document.getElementById(id);
            text.select();
            text.setSelectionRange(0, 99999);
            document.execCommand("copy");
        };
    </script>
{% endblock %}

{% block page %}
<div class="container">
    <div class="row">
        <h1>{{ _('Newsletters') }}</h1>
    </div>

    <div class="row">
        <div class="form-group btn-group">
            <a href="{{ url_for('.edit') }}" class="btn btn-success">
                <i class='fas fa-plus'></i>
                <span>{{ _('Add') }}</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 120px">{{ _('Date') }}</th>
                        <th colspan="2">{{ _('Activities') }}</th>
                        <th colspan="2">{{ _('News items') }}</th>
                        <th>{{ _('Edit') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for newsletter in newsletters %}
                    <tr>
                        <td>{{ newsletter.created | date }}</td>
                        <td>
                            <ul>
                            {% for a in newsletter.activities %}
                                <li><a href="{{ url_for('activity.get_activity', activity=a.activity) }}" target="_blank">{{ a.activity.name }}</a>
                                {%- if a.activity.en_name and not a.activity.nl_name %} (EN){% endif %}
                                {%- if a.activity.nl_name and not a.activity.en_name %} (NL){% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href='{{ url_for('newsletter.activities_xml', newsletter=newsletter, auth_token=token) }}' target="_blank">
                                <i class='fas fa-cloud-download-alt'></i>
                                <small class=".small">XML</small>
                            </a>
                        </td>
                        <td>
                            <ul>
                            {% for n in newsletter.news_items %}
                                <li><a href="{{ url_for('news.view', news=n.news_item) }}" target="_blank">{{ n.news_item.title }}</a>
                                {%- if n.news_item.en_title and not n.news_item.nl_title %} (EN){% endif %}
                                {%- if n.news_item.nl_title and not n.news_item.en_title %} (NL){% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href='{{ url_for('newsletter.news_xml', newsletter=newsletter, auth_token=token) }}' target="_blank">
                                <i class='fas fa-cloud-download-alt'></i>
                                <small class=".small">XML</small>
                            </a>
                        </td>
                        <td>
                            <a href='{{ url_for('newsletter.edit', newsletter=newsletter) }}'>
                                <i class='far fa-edit'></i></a>
                            <a href='{{ url_for('newsletter.delete', newsletter=newsletter) }}'>
                                <i class='fas fa-trash'></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <h2>{{ _('URLs') }}</h2>
    {{ _('Pass these URLs to Copernica so they can fetch the latest items.') }}

    <h3>{{ _('Activities') }}:</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" style="padding-bottom: 5px">
                <input id="activities-url-copytext"  title="{{ _('Link copied') }}"
                class="form-control url-copy-textbox" type="text"
                value="{{ url_for('newsletter.activities_xml', newsletter=None, auth_token=token, _external=True) }}" readonly />
                <span class="input-group-append">
                    <button class="btn btn-primary"
                        onclick="copyToClipboard('activities-url-copytext')">
                        <i class="fas fa-clipboard"></i> {{ _('Copy to clipboard') }}
                    </button>
                </span>
            </div>
        </div>
    </div>

    <h3>{{ _('News items') }}:</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" style="padding-bottom: 5px">
                <input id="news-items-url-copytext"  title="{{ _('Link copied') }}"
                class="form-control url-copy-textbox" type="text"
                value="{{ url_for('newsletter.news_xml', newsletter=None, auth_token=token, _external=True) }}" readonly />
                <span class="input-group-append">
                    <button class="btn btn-primary"
                        onclick="copyToClipboard('news-items-url-copytext')">
                        <i class="fas fa-clipboard"></i> {{ _('Copy to clipboard') }}
                    </button>
                </span>
            </div>
        </div>
    </div>

    <h3>{{ _('Committees open for new members') }}:</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" style="padding-bottom: 5px">
                <input id="committees-url-copytext"  title="{{ _('Link copied') }}"
                class="form-control url-copy-textbox" type="text"
                value="{{ url_for('newsletter.committees_xml', auth_token=token, _external=True) }}" readonly />

                <span class="input-group-append">
                    <button class="btn btn-primary"
                        onclick="copyToClipboard('committees-url-copytext')">
                        <i class="fas fa-clipboard"></i> {{ _('Copy to clipboard') }}
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
