<template lang="pug">
keep-alive
    .mx-2
        h1 {{ $t('Jobs') }}

        .row.mt-2
            // Filters and search
            .col-md-3
                h4 {{ $t('Filter') }}
                a-input-search(
                    :placeholder="$t('Search job')",
                    v-model="search"
                )

                h5.mt-3 {{ $t('Type') }}
                a-checkbox-group.contract_of_service.ml-2(
                    v-model="filterType",
                    :options="availableContracts"
                )

            loading-container.col-md-9(:active="loading")
                .no-jobs(v-if="companyJobs.length === 0")
                    hr
                    | {{ $t('No vacancies found') }}...
                    hr

                div(v-else-if="companyJobs.length > 0")
                    .job.row.border.rounded.mb-3.p-3.d-flex.flex-wrap.align-items-center(
                        v-for="job in companyJobs",
                        :key="job.id"
                    )
                        .company-logo.col-8.col-sm-3
                            router-link(:to="viewCompanyJob(job.id)")
                                img(:src="imageUrl(job.company_id)")
                        .pt-2.col-12.order-12.col-sm-7.order-sm-1
                            h4 {{ title(job) }}
                            span.contract_of_service.badge.badge-primary {{ job.contract_of_service }}
                            p {{ description(job) }}

                        .col-4.order-9.col-sm-2.order-sm-12
                            router-link.via-button(
                                :to="viewCompanyJob(job.id)"
                            )
                                | {{ $t('View') }}
                                i.d-none.d-lg-inline-block.right-arrow

                a-pagination.mt-2(
                    v-if="companyJobs.length !== 0 && total > 1",
                    v-model="page",
                    :total="total"
                )
</template>

<script lang="ts">
import { Component, Watch } from "vue-property-decorator";
import EditCompanyForm from "./edit_company.vue";
import { CompanyJobBase, CompanyJobs } from "../../types/company";
import Flask from "../../utils/flask";
import { companyApi } from "../../scripts/api/company";
import { Marked, MarkedOptions } from "marked-ts";
import { PlainMarkdownRenderer } from "../../utils/PlainMarkdownRenderer";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { Checkbox, Input, Pagination } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";

@Component({
    name: "company-job-overview",
    components: {
        "edit-company-form": EditCompanyForm,
        "loading-container": LoadingContainer,
        "a-checkbox-group": Checkbox.Group,
        "a-input-search": Input.Search,
        "a-pagination": Pagination,
    },
})
export default class CompanyJobOverview extends VuePaginatedAnt {
    companyJobs: CompanyJobs[] = [];
    availableContracts: string[] = [];
    filterType: string[] = [];
    total = 0;

    async mounted() {
        let data = await companyApi.getContractOfServiceTypes();
        this.availableContracts = data.data.contract_of_service;

        await this.refreshListView();
        const queryFilterType = (this.$route.query.types as string) || "";
        if (queryFilterType) {
            this.filterType.push(...queryFilterType.split(","));
        }
        this.loading = false;
    }

    @Watch("filterType")
    private updateFilterType(values) {
        if (this.$route.query.types !== values.join(",")) {
            this.$router.replace({
                query: {
                    ...this.$route.query,
                    types: values.join(","),
                },
            });
            this.pageSwitch(1);
        }
    }

    get search(): string {
        return (this.$route.query.search as string) || "";
    }

    set search(value) {
        if (this.search !== value) {
            this.$router.replace({
                query: {
                    ...this.$route.query,
                    search: value,
                },
            });
            this.pageSwitch(1);
        }
    }

    async refreshListView() {
        this.loading = true;

        try {
            let data = await companyApi.getCompanyJobs(
                this.search,
                this.filterType,
                this.page
            );
            this.companyJobs = data.data.data;
            this.total = data.data.total;
        } finally {
            this.loading = false;
        }
    }

    private title(job: CompanyJobBase) {
        switch (this.$viaduct.locale) {
            case "nl":
                return job.title_nl;
            case "en":
                return job.title_en;
        }
    }

    private description(job: CompanyJobBase) {
        let text = "";
        const textLength = 125;

        const options = new MarkedOptions();
        options.renderer = new PlainMarkdownRenderer();

        switch (this.$viaduct.locale) {
            case "nl":
                text = job.description_nl;
                break;
            case "en":
                text = job.description_en;
                break;
        }

        if (text.length > textLength) {
            text = text.slice(0, textLength) + "...";
        }

        return Marked.parse(text, options);
    }

    private viewCompanyJob(jobId: number) {
        return { name: "view-company-job", params: { jobId: jobId } };
    }

    private imageUrl(company_id: number) {
        return Flask.url_for("company.view_logo", { company_id: company_id });
    }
}
</script>

<style scoped lang="sass">
.no-jobs
    text-align: center

.job
    $logo-height: 4rem
    .company-logo
        width: 100%
        height: $logo-height

        a
            display: block

        img
            max-height: $logo-height
            max-width: 100%
            height: auto
            width: auto
            display: block
            margin: 0 auto

    .contract_of_service
        text-transform: capitalize
.contract_of_service
    text-transform: capitalize
</style>
