<template lang="pug">
div
    h1 Companies
    .no-jobs(v-if="companyProfiles.length === 0")
        hr
        | No companies found.
        hr

    .company-list(v-if="companyProfiles.length > 0")
        .company(v-for="profile in companyProfiles", :key="profile.id")
            .company-logo.text-center
                span.vertical-helper
                a(:href="viewCompanyProfile(profile.company_slug)")
                    img(:src="imageUrl(profile.company_id)")
            h3.title {{ profile.company_name }}
            a.via-button(:href="viewCompanyProfile(profile.company_slug)")
                | {{ viewText }}
                i.right-arrow
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import EditCompanyForm from "./edit_company.vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import shuffle from "../../utils/shuffle";

@Component({ components: { EditCompanyForm } })
export default class CompanyOverview extends Vue {
    private companyProfiles: {
        id: number;
        company_id: number;
        company_name: string;
        company_slug: string;
    }[] = [];

    async mounted() {
        await this.getCompanyProfiles();
    }

    private async getCompanyProfiles() {
        try {
            const resp = await instance.get(
                Flask.url_for("api.company_profiles", {})
            );
            this.companyProfiles = shuffle(resp.data);
        } catch (e) {
            console.log(e);
        }
    }

    private viewCompanyProfile(company_slug: string) {
        return Flask.url_for("company.view", { company_slug: company_slug });
    }

    private imageUrl(company_id: number) {
        return Flask.url_for("company.view_logo", { company_id: company_id });
    }

    get viewText() {
        if (this.$viaduct.locale === "nl") {
            return "Bekijk";
        } else {
            return "View";
        }
    }
}
</script>

<style scoped lang="sass">
.no-jobs
    text-align: center

.company-list
    display: grid
    grid-gap: 20px
    grid-template-columns: 1fr 1fr 1fr

    div
        border: 1px

@media (max-width: 992px)
    .company-list
        grid-template-columns: 1fr 1fr

@media(max-width: 768px)
    .company-list
        grid-template-columns: 1fr


$logo-height: 7.5rem
.company-logo
    width: 100%
    height: $logo-height

    .vertical-helper
        height: $logo-height
        display: inline-block
        vertical-align: middle

    a
        height: $logo-height

        img
            max-height: $logo-height
            max-width: 100%
            height: auto
            width: auto

.company
    position: relative
    padding: 10px
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2)

    .via-button
        position: absolute
        bottom: 10px
        right: 10px

    .title
        margin-bottom: 40px
</style>
