<template lang="pug">
.row
    .col-md-4
        h1 Jobs

        div(
            v-for="(job, index) in rawCompanyJobs",
            :class="{ inactive: !job.active }"
        )
            p
                | NL: {{ job.title_nl }}
                br
                | EN: {{ job.title_en }}
                br
                | {{ job.start_date | date }} - {{ job.end_date | date }}
                br
                a-button-group
                    router-link.ant-btn.ant-btn-primary.ant-btn-sm(
                        :to="viewJob(job.id)"
                    )
                        i.fas.fa-eye
                        | View
                    router-link.ant-btn.ant-btn-primary.ant-btn-sm(
                        :to="editJob(job.id)"
                    )
                        i.far.fa-edit
                        | Edit
            hr(v-if="index !== rawCompanyJobs.length - 1")
        router-link.ant-btn.ant-btn-primary.ant-btn-sm(:to="createJob()")
            i.far.fa-edit
            | Add new job

    .col-md-4
        h1 Banner
        p(
            v-if="companyBanner.id",
            :class="{ inactive: !companyBanner.active }"
        )
            | {{ companyBanner.start_date | date }} - {{ companyBanner.end_date | date }}
        p(v-if="!companyBanner.id")
            | Not enabled
        router-link.ant-btn.ant-btn-primary.ant-btn-sm(:to="editBanner()")
            i.far.fa-edit
            span(v-if="companyBanner.id") Edit
            span(v-if="!companyBanner.id") Enable

    .col-md-4
        h1 Page
        p(
            v-if="companyProfile.id",
            :class="{ inactive: !companyProfile.active }"
        )
            | {{ companyProfile.start_date | date }} - {{ companyProfile.end_date | date }}
        p(v-if="!companyProfile.id")
            | Not enabled
        a-button-group
            a.ant-btn.ant-btn-primary.ant-btn-sm(
                v-if="companyProfile.id",
                :href="viewProfileUrl"
            )
                i.fas.fa-eye
                span View
            router-link.ant-btn.ant-btn-primary.ant-btn-sm(:to="editProfile()")
                i.far.fa-edit
                span(v-if="companyProfile.id") Edit
                span(v-if="!companyProfile.id") Enable
</template>

<script lang="ts">
import { Component, Prop } from "vue-property-decorator";
import Vue from "vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import EditCompanyForm from "./edit_company.vue";
import { CompanyBanner, CompanyJob, CompanyProfile } from "../../types/company";
import { Button } from "ant-design-vue";

@Component({
    name: "company-module-overview",
    components: {
        "edit-company-form": EditCompanyForm,
        "a-button-group": Button.Group,
        "a-button": Button,
    },
})
export default class CompanyModuleOverview extends Vue {
    @Prop() private companyId: number;
    @Prop() private companySlug: string;
    private rawCompanyJobs: CompanyJob[] = [];
    private companyBanner: CompanyBanner = new CompanyBanner();
    private companyProfile: CompanyProfile = new CompanyProfile();

    async created() {
        await Promise.all([
            this.getCompanyJobs(),
            this.getCompanyBanner(),
            this.getCompanyProfile(),
        ]);
    }

    private async getCompanyJobs() {
        const resp = await instance.get(
            Flask.url_for("api.company.jobs", { company_id: this.companyId })
        );
        this.rawCompanyJobs = resp.data.sort((a, b) => b.active - a.active);
    }

    private async getCompanyBanner() {
        try {
            const resp = await instance.get(
                Flask.url_for("api.company_banner", {
                    company_id: this.companyId,
                })
            );
            this.companyBanner = resp.data;
        } catch (e) {
            if (e.response.status === 404) {
                return;
            }
            throw e;
        }
    }

    private async getCompanyProfile() {
        try {
            const resp = await instance.get(
                Flask.url_for("api.company_profile", {
                    company_id: this.companyId,
                })
            );
            this.companyProfile = resp.data;
        } catch (e) {
            if (e.response.status === 404) {
                return;
            }
            throw e;
        }
    }

    private createJob() {
        return {
            name: "edit-company-job",
            params: { companyId: String(this.companyId) },
        };
    }

    private viewJob(jobId: number) {
        return { name: "view-company-job", params: { jobId: String(jobId) } };
    }

    get viewProfileUrl() {
        return Flask.url_for("company.view", {
            company_slug: this.companySlug,
        });
    }

    private editJob(jobId: number) {
        return { name: "edit-company-job", params: { jobId: String(jobId) } };
    }

    private editBanner() {
        return {
            name: "edit-company-banner",
            params: { companyId: String(this.companyId) },
        };
    }

    private editProfile() {
        return {
            name: "edit-company-profile",
            params: { companyId: String(this.companyId) },
        };
    }
}
</script>

<style scoped lang="sass">
.inactive
    text-decoration: line-through
    color: rgba(0, 0, 0, 0.25)

a.badge
    margin-right: 5px
</style>
