<template lang="pug">
.row
    .col-md-4
        router-link(to="/jobs/")
            i.fas.fa-arrow-left.mr-1
            | {{ $t('Return to jobs') }}
        div
            img(:src="imageUrl")

    .col-md-8
        h3 {{ title }}
        p(v-html="content")
</template>

<i18n src="./company_job.json"></i18n>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import instance from "../../utils/axios";
import { CompanyJob as CompanyJobModel } from "../../types/company";
import { Marked } from "marked-ts";
import Flask from "../../utils/flask";

@Component
export default class CompanyJob extends Vue {
    private companyJob: CompanyJobModel = new CompanyJobModel();

    async mounted() {
        await this.getCompanyJob();
    }

    private async getCompanyJob() {
        try {
            const resp = await instance.get(
                Flask.url_for("api.job", { job_id: this.jobId })
            );
            this.companyJob = resp.data;
        } catch (e) {
            console.log(e);
        }
    }

    get title() {
        if (this.$viaduct.locale == "nl") {
            return this.companyJob.title_nl;
        } else {
            return this.companyJob.title_en;
        }
    }

    get content() {
        if (this.$viaduct.locale == "nl") {
            return Marked.parse(this.companyJob.description_nl);
        } else {
            return Marked.parse(this.companyJob.description_en);
        }
    }

    get imageUrl() {
        if (this.companyJob.id) {
            return Flask.url_for("company.view_logo", {
                company_id: this.companyJob.company_id,
            });
        } else {
            return "about:blank";
        }
    }

    get jobId() {
        return this.$route.params["jobId"];
    }
}
</script>

<style scoped lang="sass">
.logo
    max-width: 250px
    max-height: 100px
</style>
