{% extends "base.htm" %}

{% from "user/macros/signup_nav.htm" import render_signup_nav %}
{% from "macros/vue.htm" import render_vue_app %}

{% block title %}{{ _("Membership paid") }}{% endblock %}

{% block page %}
    <div class="row">
        <div class="col">
            {{ render_signup_nav(step=3, with_payment=True, show_payment_step=fee is not none and fee != 0) }}

            {{ page_text|safe }}

            {# Vue app to render mailinglist preferences #}
            {{ render_vue_app(None, locale) }}
        </div>
    </div>
{% endblock %}
