<template lang="pug">
div
    h2.title {{ $t('Participants') }} ({{ participantCount }})
    a-row
        a-col.present(:xs="24", :sm="24", :md="16")
            h4 {{ $t('Present') }} ({{ present.length }})
            a-row.present-list
                a-col(v-for="name in present", :key="name")
                    | {{ name }}

        a-col.proxies(:xs="24", :sm="24", :md="8")
            h4.proxy-title {{ $t('Proxies') }} ({{ proxies.length }})
            a-empty(v-if="!proxies.length", :description="$t('No proxies')")
            a-col(v-for="[p1, p2] in proxies", :key="p1 + p2")
                span.proxy-name {{ p1 }}
                span.proxy-text
                    a-icon(type="line")
                    a-icon.arrow(type="arrow-right")
                span.proxy-name {{ p2 }}
</template>

<style lang="sass" scoped>
@media(max-width: 768px)
    .present-list
        column-count: 2

    .proxy-title
        margin-top: 0.5em

@media(min-width: 768px)
    .present-list
        column-count: 3

.title
    margin-top: 0.5em
    margin-bottom: 0.5em

.arrow
    margin-left: -3px

.proxy-text
    margin: 0 0.25em
    font-style: italic
    font-weight: 300
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { AlvParseMinutes } from "../../scripts/api/alv";
import { Col, Empty, Icon, Row } from "ant-design-vue";

@Component({
    components: {
        "a-row": Row,
        "a-col": Col,
        "a-icon": Icon,
        "a-empty": Empty,
    },
})
export default class AlvDetailsPresent extends Vue {
    @Prop({ required: true })
    parsedAlv: AlvParseMinutes;

    get present() {
        return this.parsedAlv.meta_data.present.sort((p1, p2) => {
            return p1.localeCompare(p2);
        });
    }

    get proxies() {
        return this.parsedAlv.meta_data.proxies.sort(([, p1], [, p2]) => {
            return p1.localeCompare(p2);
        });
    }

    get participantCount() {
        return (
            this.parsedAlv.meta_data.present.length +
            this.parsedAlv.meta_data.proxies.length
        );
    }
}
</script>

<i18n src="./alv.json"></i18n>
