<template lang="pug">
a-row.block-container(:gutter="[16, 16]", style="margin-right: 0px;")
    info-block(:title="$t('Chairman')", :content="chairman")
    info-block(:title="$t('Secretary')", :content="secretary")

    info-block(v-if="activity", :title="$t('Activity')")
        template(slot="content")
            a(:href="activityLink") {{ activity }}

    info-block(
        v-if="startTime",
        :title="$t('Start time')",
        :content="startTime"
    )
    info-block(v-if="endTime", :title="$t('End time')", :content="endTime")

    info-block(
        v-if="parsedAlv",
        :title="$t('Present')",
        :content="parsedAlv.meta_data.present.length"
    )
    info-block(
        v-if="parsedAlv",
        :title="$t('Proxies')",
        :content="parsedAlv.meta_data.proxies.length"
    )
    info-block(v-if="parsedAlv", :title="$t('Votes')", :content="votes.length")
    info-block(
        v-if="parsedAlv",
        :title="$t('Decisions')",
        :content="decisions.length"
    )
</template>

<style lang="sass" scoped>

@media(min-width: 768px)
    .block-container
        border-right: 1px solid #e8e8e8
        padding-right: 1em
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import Flask from "../../utils/flask";
import { AlvParseMinutes, AlvResponse } from "../../scripts/api/alv";
import { Button, Col, Row } from "ant-design-vue";
import InfoBlock from "../util/info_block.vue";
import { AlvEvent } from "../../types/alv";

@Component({
    components: {
        "info-block": InfoBlock,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-row": Row,
        "a-col": Col,
    },
})
export default class AlvDetailsBlocks extends Vue {
    @Prop({ required: true })
    alv: AlvResponse;

    @Prop()
    parsedAlv?: AlvParseMinutes;

    private get activityLink() {
        return Flask.url_for("activity.get_activity", {
            activity: this.alv.activity?.id,
        });
    }

    get chairman() {
        if (!this.alv.chairman) {
            return this.$t("No chairman");
        }

        return `${this.alv.chairman.first_name} ${this.alv.chairman.last_name}`;
    }

    get secretary() {
        if (!this.alv.secretary) {
            return this.$t("No secretary");
        }

        return `${this.alv.secretary.first_name} ${this.alv.secretary.last_name}`;
    }

    get startTime() {
        if (this.alv.meta?.start_time) {
            return this.alv.meta.start_time;
        }

        if (this.alv.activity?.start_time) {
            return new Date(this.alv.activity.start_time).toLocaleTimeString(
                "nl",
                {
                    hour: "2-digit",
                    minute: "2-digit",
                }
            );
        }

        return null;
    }

    get endTime() {
        if (this.alv.meta?.stop_time) {
            return this.alv.meta.stop_time;
        }

        if (this.alv.activity?.end_time) {
            return new Date(this.alv.activity.end_time).toLocaleTimeString(
                "nl",
                {
                    hour: "2-digit",
                    minute: "2-digit",
                }
            );
        }
        return null;
    }

    get activity() {
        return this.alv.activity?.name[this.$viaduct.locale];
    }

    get minutesStatus() {
        if (!this.alv.minutes_file_id) {
            return this.$t("Not available");
        }

        if (typeof this.alv["minutes_accepted"] === "boolean") {
            return this.alv["minutes_accepted"]
                ? this.$t("Accepted")
                : this.$t("Not accepted");
        } else {
            return this.$t("Unknown");
        }
    }

    get sections() {
        if (!this.parsedAlv) {
            return [];
        }

        return this.parsedAlv.events.filter(
            (item) => item.event_type === AlvEvent.Section
        );
    }

    get tasks() {
        if (!this.parsedAlv) {
            return [];
        }

        return this.parsedAlv.events.filter(
            (item) => item.event_type === AlvEvent.Task
        );
    }

    get decisions() {
        if (!this.parsedAlv) {
            return [];
        }

        return this.parsedAlv.events.filter(
            (item) => item.event_type === AlvEvent.Decision
        );
    }

    get votes() {
        if (!this.parsedAlv) {
            return [];
        }

        return this.parsedAlv.events.filter(
            (item) => item.event_type === AlvEvent.Vote
        );
    }
}
</script>

<i18n src="./alv.json"></i18n>
