{% extends "base.htm" %}

{% block title %}{{ _('Mollie transactions') }}{% endblock %}

{% block page %}
    <div class="row">
        <div class="col">
            <h1>Mollie transactions</h1>

            <table class="table">
                <tr>
                    <th>Created</th>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Metadata</th>
                    <th></th>
                </tr>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.created_at }}</td>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.status }}</td>
                        <td>
                            {{ payment.description }}
                            {% if payment.details %}-
                                <small>{{ payment.details['consumerName'] }}</small>
                            {% endif %}
                        </td>
                        <td>
                            <small>{{ payment['metadata'] }}</small>
                        </td>
                        <td>
                            <a href="{{ url_for('mollie.check', transaction=payment.id) }}"
                               class="btn btn-warning">Manual update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="btn-group">
                {% if previous_payments != None %}
                    <a class="btn btn-secondary"
                       href="{{ url_for('mollie.list', from_id=previous_payments) }}">Previous</a>
                {% endif %}
                {% if next_payments != None %}
                    <a class="btn btn-secondary"
                       href="{{ url_for('mollie.list', from_id=next_payments) }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
