{% extends "base.htm" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ title }}</h1>
        </div>
    </div>
{% endblock %}
