{% extends "content.htm" %}

{% from "macros/pagination.htm" import render_pagination %}

{% block title %}{{ _('Groups') }}{% endblock %}

{% block content %}
    <form class="form-inline mb-2" action="{{ url_for("group.view") }}">
    <div class="input-group">
        <div class="input-group-prepend">
            <label for="search"
                   class="input-group-text">{{ _("Search") }}</label>
        </div>
        <input name="search" id="search" class="form-control" type="text"
               placeholder="{{ _('Search for group') }}" value="{{ search }}">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search" id="submit"></i>
            </button>
        </div>
    </div>
</form>

<legend>Groepen</legend>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Groepnaam</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ url_for('group.view_users', group=group) }}">
                        <i class="fas fa-user"></i> Bekijk leden</a>
                </td>

                <td>
                    <a href="{{ url_for('group.roles', group=group) }}">
                        <i class="fas fa-key"></i> Wijzig permissies</a>
                </td>
                <td>
                    <a href="{{ url_for('group.edit', group=group) }}">
                        <i class="fas fa-pencil-alt"></i> Wijzig naam en mail</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="btn-group">
    {% if can_write %}
    <a href="{{ url_for('group.create') }}" class="btn btn-success">
        Creëer groep
    </a>
    {% endif %}
    {{ render_pagination(pagination, 'group.view') }}
</div>
{% endblock %}
