<template lang="pug">
div
    h1 {{ $t('Examinations') }}&nbsp;
        a-tooltip(placement="right")
            a-icon.ant-notification-notice-icon-warning(
                type="exclamation-circle",
                style="font-size: 20px;"
            )
            template(slot="title")
                | Disclaimer
                br
                | {{ $t('Solutions-alert') }}
    a-alert.mb-3(:message="$t('handin_exams')", type="info")

    a-button-group.mb-3(v-if="can_write")
        router-link(
            :to="{ name: 'examination-create' }",
            v-slot="{ href, navigate}"
        )
            a-button(:href="href", @click="navigate", type="primary")
                a-icon(type="file-add")
                | {{ $t('New examination') }}
        router-link(:to="{ name: 'courses' }", v-slot="{ href, navigate}")
            a-button(:href="href", @click="navigate") {{ $t('Courses') }}
        router-link(:to="{ name: 'educations' }", v-slot="{ href, navigate}")
            a-button(:href="href", @click="navigate") {{ $t('Educations') }}

    .row
        .col-12.col-md-3
            .mb-3
                b {{ $t('Enrolled courses') }}

                i18n(v-if="is_anonymous", path="Anonymous user", tag="div")
                    template(v-slot:here="")
                        a(:href="signInUrl") {{ $t('here') }}
                i18n(
                    v-else-if="is_unconfirmed",
                    path="Unconfirmed user",
                    tag="div"
                )
                    template(v-slot:here="")
                        a(:href="samlLinkAccount") {{ $t('here') }}
                div(v-else-if="dn_unavailable") {{ $t('Datanose unavailable') }}

                .ml-2(v-else-if="dn_courses.length === 0") {{ $t('No enrolled courses found') }}
                .pr-3(v-else)
                    a-checkbox(
                        :indeterminate="!!dn_courses_selected.length && dn_courses_selected.length < dn_courses.length",
                        :checked="dn_courses_selected.length === dn_courses.length",
                        @change="onChangeAllCourses"
                    )
                        b {{ $t('Select All') }}
                    a-checkbox-group(
                        v-model="dn_courses_selected",
                        :options="dn_courses"
                    )

            .mb-3
                b {{ $t('Enrolled educations') }}

                .ml-2(v-if="user_educations.length === 0") {{ $t('No enrolled educations found') }}
                .pr-3(v-else)
                    a-checkbox-group(
                        v-model="user_educations_selected",
                        :options="user_educations"
                    )

        .col-12.col-md-9
            a-input-search.mb-3.w-100(
                :placeholder="$t('search')",
                v-model="search",
                @keyup="searchDebouncer()"
            )

            a-config-provider
                template(v-slot:renderEmpty="")
                    a-empty
                        template(v-slot:description="")
                            i18n(path="search.help")
                                template(v-slot:course.code="")
                                    router-link(
                                        :to="{ name: 'course-create' }"
                                    ) {{ $t('course.code') }}

                a-table(
                    :showHeader="false",
                    size="middle",
                    :columns="columns",
                    :rowKey="(record) => record.id",
                    :dataSource="courses",
                    :loading="loading",
                    :pagination="pagination",
                    :expandedRowKeys="expandedRowKeys",
                    :expandRowByClick="true",
                    :expandIconAsCell="false",
                    :bodyStyle="{ 'overflow-x': 'auto' }",
                    :expandIconColumnIndex="2",
                    @expand="onExpand",
                    @change="handleTableChange"
                )
                    a-table(
                        slot="expandedRowRender",
                        slot-scope="record",
                        :columns="innerColumns",
                        :loading="innerLoading",
                        :dataSource="examinations[record.id]",
                        :rowKey="(record) => record.id",
                        :pagination="false",
                        size="middle"
                    )
                        template(v-slot:date="record")
                            span(v-if="record.date") {{ record.date }}
                            span(v-else) {{ $t('Date unknown') }}
                        template(v-slot:exam="record")
                            a-button(
                                :href="viewExamBtn(record.id, 'exam')",
                                target="_blank",
                                v-if="record.examination_file_id",
                                type="link"
                            )
                                a-icon(type="cloud-download")
                            span(v-else) N/A
                        template(v-slot:answers="record")
                            a-button(
                                :href="viewExamBtn(record.id, 'answers')",
                                target="_blank",
                                v-if="record.answers_file_id",
                                type="link"
                            )
                                a-icon(type="file-done")
                            span(v-else) N/A
                        template(v-slot:edit="record")
                            router-link(
                                :to="{ name: 'examination-edit', params: { examinationId: record.id } }",
                                v-slot="{ href, navigate}"
                            )
                                a-button(
                                    :href="href",
                                    @click="navigate",
                                    type="link"
                                )
                                    a-icon(type="edit")
                            a-popconfirm(
                                :title="$t('Are you sure you want to delete this exam?')",
                                @confirm="deleteExamination(record)"
                            )
                                a-icon(type="delete")

                        template(v-slot:footer="")
                            i18n.text-center(path="Answers-alert", tag="div")
                                template(v-slot:here="")
                                    a(href="/uitwerkingen", target="_blank") {{ $t('here') }}
</template>

<style lang="sass">
.ant-table-row-level-0
    cursor: pointer

.ant-table-expanded-row,
.ant-table-expanded-row .ant-table-row-level-0
    cursor: auto

.ant-table-expanded-row-level-1 .ant-table-footer
    background-color: #ffeeba
    padding: 6px
</style>

<script lang="ts">
import { Component, Watch } from "vue-property-decorator";
import Flask from "../../utils/flask";
import { Course } from "../../types/examination";
import { courseApi } from "../../scripts/api/course";
import { educationApi } from "../../scripts/api/education";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { authStore } from "../../store/auth";
import { examinationApi } from "../../scripts/api/examination";
import debounce from "../../utils/debounce";
import {
    Alert,
    Button,
    Checkbox,
    Empty,
    ConfigProvider,
    Icon,
    Input,
    Popconfirm,
    Table,
    Tooltip,
} from "ant-design-vue";
import { Column } from "ant-design-vue/types/table/column";

@Component({
    name: "examination-overview",
    components: {
        "a-tooltip": Tooltip,
        "a-icon": Icon,
        "a-alert": Alert,
        "a-empty": Empty,
        "a-config-provider": ConfigProvider,
        "a-checkbox": Checkbox,
        "a-checkbox-group": Checkbox.Group,
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-popconfirm": Popconfirm,
        "a-button": Button,
        "a-button-group": Button.Group,
    },
})
export default class ExaminationOverview extends VuePaginatedAnt {
    private searchDebouncer = debounce(this.searchEvent, 300);
    expandedRowKeys: number[] = [];
    courses: Course[] = [];
    can_write = false;
    is_anonymous = false;
    is_unconfirmed = false;
    dn_unavailable = false;
    examinations = {};
    dn_courses_selected: number[] = [];
    dn_courses: { label: string; value: number }[] = [];
    user_educations_selected: [number, number][] = [];
    user_educations: { label: string; value: [number, number] }[] = [];
    innerLoading = false;

    columns: Partial<Column>[] = [];
    innerColumns: Partial<Column>[] = [];

    async onExpand(expanded: boolean, record: Course) {
        if (expanded) {
            this.expandedRowKeys = [record.id];
            this.loadExams(record);
        } else {
            this.expandedRowKeys = [];
        }
    }

    async created(): Promise<void> {
        this.columns = [
            {
                title: "Course",
                key: "course",
                dataIndex: "name",
            },
            {
                title: "Datanose code",
                key: "datanose_code",
                dataIndex: "datanose_code",
            },
            {
                key: "expand",
            },
        ];

        this.innerColumns = [
            {
                title: this.$t("Date") as string,
                key: "date",
                scopedSlots: { customRender: "date" },
                sorter: (a, b) =>
                    a.date && b.date && a.date.localeCompare(b.date),
                sortDirections: ["descend", "ascend"],
            },
            {
                title: "Type",
                dataIndex: "test_type",
                filters: [
                    { text: "Mid-term", value: "Mid-term" },
                    { text: "End-term", value: "End-term" },
                    { text: "Retake", value: "Retake" },
                    { text: "Unknown", value: "Unknown" },
                ],
                onFilter: (value, record) => record.test_type === value,
            },
            {
                title: this.$t("Examination"),
                key: "exam",
                scopedSlots: { customRender: "exam" },
                align: "center",
            },
            {
                title: this.$t("Answers"),
                key: "answers",
                scopedSlots: { customRender: "answers" },
                align: "center",
            },
            {
                title: this.$t("Comment"),
                dataIndex: "comment",
            },
        ];

        if (authStore.isAnonymous()) {
            this.is_anonymous = true;
        } else {
            this.can_write = !!authStore.roles.EXAMINATION_WRITE?.has_role;
        }

        if (this.can_write) {
            this.innerColumns.push({
                title: this.$t("Edit") as string,
                key: "edit",
                align: "center",
                scopedSlots: { customRender: "edit" },
            });
        }
    }

    async mounted(): Promise<void> {
        await this.refreshListView();
        await this.getDatanoseCourses();
        await this.getUserEducations();

        if (this.$route.query.course_id) {
            const course_id = parseInt(this.$route.query.course_id as string);
            this.dn_courses_selected = this.expandedRowKeys = [course_id];
            this.loadExams({ id: course_id });
        }
        this.loading = false;
    }

    @Watch("search")
    private async searchEvent() {
        this.dn_courses_selected = [];
        this.user_educations_selected = [];
    }

    @Watch("dn_courses_selected")
    private async datanoseUpdate() {
        this.page = 1;
    }

    @Watch("user_educations_selected")
    private async userEducationsUpdate() {
        this.page = 1;
    }

    private onChangeAllCourses(e) {
        if (e.target.checked) {
            this.dn_courses.forEach((course) => {
                this.dn_courses_selected.push(course["value"]);
            });
        } else {
            this.dn_courses_selected = [];
        }
    }

    private async getDatanoseCourses() {
        /* Check if a user is logged in and request enrolled courses if so. */
        if (!this.is_anonymous) {
            try {
                const resp = await courseApi.getUserCourses();
                resp.data.forEach((course) => {
                    this.dn_courses.push({
                        label: course["name"],
                        value: course["id"],
                    });
                    if (!this.search && this.page === 1) {
                        this.dn_courses_selected.push(course["id"]);
                    }
                });
            } catch (error) {
                switch (error.response.status) {
                    case 409:
                        /* Catch BusinessRuleException, thrown when studentID is unconfirmed. */
                        this.is_unconfirmed = true;
                        break;
                    case 503:
                        /* Catch ServiceUnavailableException, thrown when Datanose has a 5xx error. */
                        this.dn_unavailable = true;
                        break;
                    default:
                        /* Throw unexpected errors. */
                        throw error;
                }
            }
        }
    }

    /* Fetches all educations the user is currently enrolled for. */
    private async getUserEducations() {
        const resp = await educationApi.getUserEducations();
        resp.data.forEach((education) => {
            for (let i = 1; i <= education["duration"]; i++) {
                if (this.$i18n.locale == "nl") {
                    this.user_educations.push({
                        label: education["nl_name"] + " jaar " + i,
                        value: [education["id"], i],
                    });
                } else {
                    this.user_educations.push({
                        label: education["en_name"] + " year " + i,
                        value: [education["id"], i],
                    });
                }
            }
        });
    }

    private async loadExams(course) {
        if (!(course.id in this.examinations)) {
            this.innerLoading = true;
            try {
                const resp = await examinationApi.getExamsByCourse(course.id);

                /* Use this.$set so Vue will detect the change and update the front-end. */
                this.$set(this.examinations, course.id, resp.data);
            } finally {
                this.innerLoading = false;
            }
        }
    }

    private async deleteExamination(examination) {
        await examinationApi.deleteExamination(examination.id);
        this.examinations[examination.course.id] = this.examinations[
            examination.course.id
        ].filter((exam) => {
            return exam.id !== examination.id;
        });
    }

    private viewExamBtn(examination_id, doc_type) {
        return Flask.url_for("examination.view", {
            exam: examination_id,
            doc_type: doc_type,
        });
    }

    get signInUrl(): string {
        return Flask.url_for("login.sign_in");
    }

    get samlLinkAccount(): string {
        return Flask.url_for("saml.link_account");
    }

    async refreshListView(): Promise<void> {
        try {
            this.loading = true;
            const resp = await courseApi.getCourses(
                this.search,
                this.page,
                this.dn_courses_selected,
                this.user_educations_selected
            );
            this.courses = resp.data.data;
            this.pagination.pageSize = resp.data.page_size;
            this.pagination.total = resp.data.total;
        } finally {
            this.loading = false;
        }
    }
}
</script>

<i18n src="./examination_overview.json"></i18n>
