{% macro render_flash() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "safe" %}
                    <div class="alert alert-warning">{{ message | safe}}</div>
                {% else %}
                    <div class="alert alert-{% if category == 'message' %}info{% else %}{{ category }}{% endif %}">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}
