{% macro render_pagination(pagination, end_point, keywords='') %}
	<div class="btn-group">
		{% if pagination.has_prev %}
        <a href="{{ url_for(end_point, page_nr=pagination.prev_num, **kwargs) ~ keywords }}" class="btn btn-primary">{{_('Previous')}}</a>
		{% else %}
			<a href="#" class="btn btn-primary disabled">{{_('Previous')}}</a>
		{% endif %}

		{% for page in pagination.iter_pages() %}
			{% if page %}
				{% if page != pagination.page %}
					<a href="{{ url_for(end_point, page_nr=page, **kwargs) ~ keywords }}" class="btn btn-light">{{ page }}</a>
				{% else %}
					<a href="#" class="btn btn-info disabled">{{ page }}</a>
				{% endif %}
			{% else %}
				<a href="#" class="btn btn-light disabled">...</a>
			{% endif %}
		{% endfor %}

		{% if pagination.has_next %}
            <a href="{{ url_for(end_point, page_nr=pagination.next_num, **kwargs) ~ keywords }}" class="btn btn-primary">{{_('Next')}}</a>
		{% else %}
        <a href="#" class="btn btn-primary disabled">{{_('Next')}}</a>
		{% endif %}
	</div>
{% endmacro %}
