{% extends "base/en.html" %}

{% block title -%}
    Your email has been changed
{%- endblock %}

{% block content -%}
    The email on your <b>via</b> account was changed from {{ old_email }} to
    {{ new_email }} at {{ date }}.

    If you didn't change your email address, please contact the board via
    <a href="mailto:bestuur@svia.nl">bestuur@svia.nl</a>.
{%- endblock %}
