{% extends "content.htm" %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}

<div class="container">
    <div id='{{ company.name }}'>
        <div class="col-md-4">
            <div>
                {% if company.logo_file_id != '#' %}
                    <img style="max-width:250px; max-height:100px;"
                         src="{{ url_for('company.view_logo', company_id=company.id) }}"/>
                <br/>
                {% endif %}
            </div>
            <p>

                <a class="btn btn-primary" target="_blank" href="{{company.website}}">
                    Visit website
                    <i class="fas fa-arrow-right"></i>
                </a>
                <br/>
            </p>
        </div>
        <div class="col-md-8">
            <h3>{{company.name}}</h3>
            {{ profile.description | markdown_unsafe }}
        </div>

    </div>
</div>
{% endblock %}
