{% extends "content.htm" %}

{% from 'macros/pagination.htm' import render_pagination %}

{% block title -%}
    {{ _('News') }}
{%- endblock title %}

{% block content %}

    {{ render_pagination(paginator, 'news.root') }}

    <div class="btn-group float-right">
        {% if can_write %}
            <a href="{{ url_for('news.edit') }}" class="btn btn-success">
                {{ _('Create news item') }}
            </a>
        {% endif %}

        <a href="{{ url_for('news.rss', locale=get_locale()) }}"
           class="btn btn-light">
            {{ _('RSS feed') }}
        </a>
    </div>
    <hr/>

    {% for item in news_items %}
        <article>
            <div class="row">
                <div class="col-md-8 title">
                    <a href="{{ url_for('news.view', news=item) }}">
                        <h3>{{ item.title }}</h3>
                    </a>
                    <div class="user">
                        <img class="avatar" alt="{{ item.user_name }}"
                             src="{{ item.user_avatar }}">
                        <div class="meta">
                            <span class="author">{{ item.user_name }}</span>
                            <span class="date">{{ item.publish_date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ item.content
                           | markdown_summary(300,
                                              truncate_method="paragraph",
                                              read_more=item.read_more)
                           | safe }}
                </div>
            </div>
        </article>
    {% endfor %}
    <hr />
    {{ render_pagination(paginator, 'news.root') }}
{% endblock %}
