{% extends 'content.htm' %}

{% block title -%}
    {{ news.title }} - {{ _('News') }}
{%- endblock title %}

{% block page %}
    <div class='row'>
        <div class='col-md-9 col-md-offset-1'>
            <p>
                <a href="{{ url_for('news.root') }}">{{ _('News') }}</a>
                <i class='fas fa-chevron-right'></i>
                <a href="{{ url_for('news.view', news=news) }}">{{ news.title }}</a>
            </p>
        </div>
        <div class='col-md-9 col-md-offset-1'>
            <div class='pb-2 mt-4 mb-2 border-bottom'>
                {% if can_write %}
                    <div class='btn-group float-right'>
                        <a class='btn btn-warning btn-sm' href='
                            {{ url_for('news.edit', news=news) }}'>
                            <i class='far fa-edit'></i> {{ _('Edit news item') }}
                        </a>
                    </div>
                {% endif %}

                <h1>{{ news.title }}</h1>
            </div>

            <div class='row'>
                <div class='col-md-6'>
                    {{_('Written by')}}: <em>{{ news.user.name }}</em>
                </div>
                {% if news.modified_after_creation %}
                    <div class='col-md-6'>
                        {{_('Last modified')}}: <em>{{ news.modified | datetime }} </em><br />
                    </div>
                {% endif %}
                <div class='col-md-6'>
                    {{_('Published at')}}: <em>{{ news.publish_date | date }}</em>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-md-12 content'>{{ news.content | markdown }}</div>
            </div>
        </div>
    </div>
{% endblock %}
