<template lang="pug">
.row
    .col-12
        router-link(
            :to="{ name: 'tutoring-overview' }",
            v-slot="{ href, navigate}"
        )
            a-button(:href="href", @click="navigate", icon="left", type="link")
                | {{ $t('Back') }}
    .col-12.mb-3
        h1 {{ $t('Tutoring request') }}
        h5 {{ course.name }} | {{ course.datanose_code }}
        a-steps(type="navigation", v-model="currentStep", size="small")
            a-step(
                :title="$t('Personal information')",
                :description="$t('Verify your contact information')"
            )
            a-step(
                :title="$t('Tutoring details')",
                :description="$t('Enter tutoring needs')",
                :disabled="currentStep <= 0"
            )
            a-step(
                :title="$t('Awaiting tutor')",
                :description="$t('VIA is looking for a tutor')",
                :disabled="true"
            )
            a-step(
                :title="$t('Tutor found')",
                :description="$t('Contact the tutor')",
                :disabled="!!tutoring.tutor"
            )

    .col-12(v-show="currentStep === 0")
        a-form(:form="form0", @submit.prevent="save")
            a-form-item(v-bind="formItemLayout", :label="$t('E-mail address')")
                a-input(
                    v-decorator="['email', { rules: [{ required: true, message: 'Please enter your e-mail address.' }, {validator: emailValidation}]}]"
                )
            a-form-item(v-bind="formItemLayout", :label="$t('First name')")
                a-input(
                    v-decorator="['first_name', { rules: [{ required: true, message: 'Please enter your first name.' }]}]"
                )
            a-form-item(v-bind="formItemLayout", :label="$t('Last name')")
                a-input(
                    v-decorator="['last_name', { rules: [{ required: true, message: 'Please enter your last name.' }]}]"
                )
            a-form-item(v-bind="formItemLayout", :label="$t('Phone number')")
                a-input(
                    v-decorator="['phone_nr', { rules: [{ required: true, message: 'Please enter your phone number.' }]}]"
                )
            a-form-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
            )
                a-button-group
                    router-link(
                        :to="{ name: 'tutoring-overview' }",
                        v-slot="{href, navigate}"
                    )
                        a-button(:href="href", @click="navigate")
                            | {{ $t('Back') }}
                    a-button(type="primary", html-type="submit") {{ $t('Next') }}
    .col-12(v-show="currentStep === 1")
        a-form(:form="form1", @submit.prevent="save")
            a-form-item(
                v-bind="formItemLayout",
                :label="$t('Hours expected')",
                :extra="$t('On a weekly basis')"
            )
                a-input-number(
                    v-decorator="['num_hours', { rules: [{ required: true, message: 'Please enter the expected number tutoring hours.' }], initialValue: 0}]",
                    :min="0"
                )
            a-form-item(
                v-bind="formItemLayout",
                :label="$t('Comment')",
                :extra="$t('comment_extra')"
            )
                a-textarea(v-decorator="['notes', {initialValue: ''}]")
            a-form-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
            )
                a-button-group
                    a-button(@click="currentStep -= 1") {{ $t('Back') }}
                    a-button(type="primary", html-type="submit") {{ $t('Submit') }}
    .col-12(v-show="currentStep === 2")
        a-empty
            i18n(path="waiting", tag="div", slot="description")
                template(v-slot:examination_collection="")
                    router-link(
                        :to="{ name: 'examination-overview', query: { course_id: tutoring.course_id } }"
                    ) {{ $t('examination_collection') }}
            a-popconfirm(
                :title="$t('confirmation_message')",
                @confirm="deleteTutoring"
            )
                a-button(type="danger") {{ $t('Cancel tutoring request') }}

    .col-12(v-show="currentStep === 3")
        div(v-if="tutoring.tutor")
            h4 {{ $t('Tutor has been found') }}
            i18n(path="tutor_found", tag="p")
                template(v-slot:first_name="") {{ tutoring.tutor.first_name }}
                template(v-slot:last_name="") {{ tutoring.tutor.last_name }}
                template(v-slot:email="")
                    a(:href="`mailto:${tutoring.tutor.email}`") {{ tutoring.tutor.email }}
                template(v-slot:phone="") {{ tutoring.tutor.phone_nr }}
</template>

<style lang="sass"></style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Vue from "vue";
import { Course } from "../../scripts/api/examination";
import { WrappedFormUtils } from "ant-design-vue/types/form/form";
import { emailValidation, validateAntForm } from "../../utils/form";
import { userApi } from "../../scripts/api/user";
import { Tutoring, tutoringApi } from "../../scripts/api/tutoring";
import {
    Button,
    Empty,
    Form,
    Input,
    InputNumber,
    Popconfirm,
    Steps,
} from "ant-design-vue";
import { courseApi } from "../../scripts/api/course";

@Component({
    methods: {
        emailValidation: emailValidation,
    },
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-steps": Steps,
        "a-step": Steps.Step,
        "a-form": Form,
        "a-form-item": Form.Item,
        "a-input": Input,
        "a-input-number": InputNumber,
        "a-textarea": Input.TextArea,
        "a-empty": Empty,
        "a-popconfirm": Popconfirm,
    },
})
export default class TutoringRequest extends Vue {
    private courseId = 0;
    private course: Course = new Course();
    private tutoring: Tutoring = new Tutoring();
    private currentStep = 0;
    private form0: WrappedFormUtils;
    private form1: WrappedFormUtils;

    get tutoringId() {
        if (this.$route.params["tutoringId"]) {
            return Number(this.$route.params["tutoringId"]);
        }
        return null;
    }

    created() {
        this.form0 = this.$form.createForm(this);
        this.form1 = this.$form.createForm(this);
    }

    async mounted() {
        if (this.tutoringId) {
            this.tutoring = (
                await tutoringApi.getUserTutoring(this.tutoringId)
            ).data;
            this.form1.setFieldsValue(
                (({ num_hours, notes }) => ({
                    num_hours,
                    notes,
                }))(this.tutoring)
            );
            this.courseId = this.tutoring.course_id;
            if (this.tutoring.tutor) {
                this.currentStep = 3;
            } else {
                this.currentStep = 2;
            }
        } else {
            const courseId = this.$route.query["courseId"] as string;
            if (courseId) {
                this.courseId = Number(courseId);
            } else {
                await this.$notification.error({
                    message: this.$t("No course selected") as string,
                    description: this.$t(
                        "Please select course from the overview"
                    ) as string,
                });
                await this.$router.replace({ name: "tutoring-overview" });
            }
        }

        this.course = (await courseApi.getCourse(this.courseId)).data;

        const user = (await userApi.getUserData(null)).data;
        this.form0.setFieldsValue(
            (({ first_name, last_name, email, phone_nr }) => ({
                first_name,
                last_name,
                email,
                phone_nr,
            }))(user)
        );
    }

    async save() {
        if (this.currentStep === 0) {
            let values;
            try {
                values = await validateAntForm(this.form0!);
            } catch (e) {
                return; // Form didn't validate
            }
            await userApi.setUserData(null, values);
            // Update user data
            this.currentStep = 1;
        } else if (this.currentStep === 1) {
            let values;
            try {
                values = await validateAntForm(this.form1!);
                values["course_id"] = this.courseId;
            } catch (e) {
                return; // Form didn't validate
            }
            if (!this.tutoringId) {
                const tutoring = (await tutoringApi.createUserTutoring(values))
                    .data;
                await this.$router.replace({
                    name: "tutoring-details",
                    params: { tutoringId: String(tutoring.id) },
                });
            } else {
                await tutoringApi.updateUserTutoring(this.tutoringId, values);
            }

            if (this.tutoring.tutor) {
                this.currentStep = 3;
            } else {
                this.currentStep = 2;
            }
        }
    }

    async deleteTutoring() {
        await tutoringApi.deleteTutoring(this.tutoringId!);
        this.$notification.success({
            message: this.$t("Successfully deleted") as string,
            description: this.$t("Tutoring request deleted.") as string,
        });
        await this.$router.push({ name: "tutoring-overview" });
    }

    private formItemLayout = {
        labelCol: {
            xs: { span: 24 },
            md: { span: 4 },
        },
        wrapperCol: {
            xs: { span: 24 },
            md: { span: 18 },
        },
    };
}
</script>

//@formatter:off
<i18n>
    {
"en": {
    "Awaiting tutor": "Awaiting tutor",
    "Course": "Course",
    "Comment": "Comment",
    "comment_extra": "This note will be shared with VIA and potential tutors.",
    "Contact the tutor": "Contact the tutor",
    "confirmation_message": "Are you sure you want to cancel your tutoring request?",
    "Cancel tutoring request": "Cancel tutoring request",
    "Datanose code": "Datanose code",
    "Datanose unavailable": "Datanose is currently not available. Please use the search bar instead.",
    "Enrolled courses": "Enrolled courses",
    "Enter tutoring needs": "Enter tutoring needs",
    "examination_collection": "collection of examinations",
    "Hours expected": "Hours expected",
    "Search course or code": "Search course or code",
    "Personal information": "Personal information",
    "Please select course from the overview": "Please select course from the overview",
    "On a weekly basis": "On a weekly basis",
    "No course selected": "No course selected",
    "Tutoring": "Tutoring",
    "tutor_found": "{first_name} {last_name} has accepted your tutoring request. You can contact {first_name} {last_name} by sending an e-mail to {email} or a message to {phone}.",
    "Tutor found": "Tutor found",
    "Tutor has been found": "Tutor has been found",
    "Tutoring details": "Tutoring details",
    "Tutoring request": "Tutoring request",
    "Tutoring request deleted.": "Tutoring request deleted.",
    "Verify your contact information": "Verify your contact information",
    "VIA is looking for a tutor": "VIA is looking for a tutor",
    "Unconfirmed user": "Connect your UvAnetID {here} to view your enrolled courses.",
    "waiting": "VIA is currently looking for a tutor, we will get back to you. Meanwhile you can check our {examination_collection}."
    },
"nl": {
    "Awaiting tutor": "Wachten op docent",
    "Course": "Vak",
    "Comment": "Opmerkingen",
    "comment_extra": "Deze opmerking zal worden gedeeld met VIA en potentiele bijlesdocenten.",
    "Contact the tutor": "Contacteer de docent",
    "confirmation_message": "Weet je zeker dat je je bijlesaanvraag wil annuleren?",
    "Cancel tutoring request": "Bijlesaanvraag annuleren",
    "Enter tutoring needs": "Vul bijlesbehoeften in",
    "Datanose code": "Datanose code",
    "Enrolled courses": "Ingeschreven vakken",
    "examination_collection": "tentamenbank",
    "Datanose unavailable": "Datanose is nu niet beschikbaar. Gebruik de zoekbalk als alternatief.",
    "Hours expected": "Verwachte uren",
    "Search course or code": "Zoek vak of vakcode",
    "Personal information": "Persoonlijke informatie",
    "Please select course from the overview": "Selecteer een vak vanuit het overzicht",
    "On a weekly basis": "Op wekelijkse basis",
    "tutor_found": "{first_name} {last_name} heeft je bijlesaanvraag geaccepteerd. Je kan contact opnemen met {first_name} {last_name} door een e-mail te sturen naar {email} of een bericht naar {phone}.",
    "Tutoring": "Bijles",
    "Tutor found": "Docent gevonden",
    "Tutor has been found": "Een bijles docent is gevonden",
    "Tutoring details": "Bijles gegevens",
    "Tutoring request": "Bijlesaanvraag",
    "Tutoring request deleted.": "Bijlesaanvraag verwijderd.",
    "Verify your contact information": "Verifieer je contactgegevens",
    "VIA is looking for a tutor": "VIA is op zoek naar een docent",
    "Unconfirmed user": "Koppel je UvAnetID {here} om jouw ingeschreven vakken te zien.",
    "waiting": "VIA is bezig met het zoeken naar een docent, we komen bij je terug. Bekijk ondertussen eens onze {examination_collection}."
    }
    }
</i18n>
//@formatter:on
