<template lang="pug">
.row
    .col-12
        h1 {{ $t('Tutor overview') }}
        a-input-search.mb-3.w-100(
            :placeholder="$t('Search user or course')",
            v-model="search"
        )

        a-table(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="tutors",
            :pagination="pagination",
            :loading="loading",
            position="both",
            @change="handleTableChange"
        )
            span.actions(slot="name", slot-scope="record")
                router-link(
                    :to="{ name: 'tutor-profile', params: { userId: record.user.id } }",
                    v-slot="{ href, navigate}"
                )
                    a-button(type="link", :href="href", @click="navigate") {{ record.user.first_name }} {{ record.user.last_name }}
            template(v-slot:course="record") {{ record.course.name }}
            template(v-slot:grade="record") {{ (record.grade / 10).toFixed(1) }}
            template(v-slot:approve="record")
                a-icon(v-if="record.approved", type="check")
                a-popconfirm(
                    v-else,
                    :title="$t('Approve tutor?')",
                    @confirm="approve(record)"
                )
                    a-button(size="small") {{ $t('Approve') }}
            template(v-slot:remove="record")
                a-popconfirm(
                    v-if="record.approved",
                    :title="$t('Remove tutor for {course}?', { course: record.course.name })",
                    @confirm="remove(record)"
                )
                    a-button(size="small", type="danger", ghost) {{ $t('Remove') }}
</template>

<style lang="sass"></style>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { VuePaginatedAnt } from "../../utils/VuePaginatedAnt";
import { Tutor, tutoringApi } from "../../scripts/api/tutoring";
import { Button, Icon, Input, Popconfirm, Table } from "ant-design-vue";

@Component({
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-button": Button,
        "a-icon": Icon,
        "a-popconfirm": Popconfirm,
    },
})
export default class TutorOverview extends VuePaginatedAnt {
    tutors: Tutor[] = [];

    async mounted() {
        await this.refreshListView();
        this.loading = false;
    }

    async refreshListView() {
        try {
            this.loading = true;
            const resp = await tutoringApi.getTutors(this.search, this.page);
            this.tutors = resp.data.data;
            this.pagination.pageSize = resp.data.page_size;
            this.pagination.total = resp.data.total;
        } finally {
            this.loading = false;
        }
    }

    async approve(tutor: Tutor) {
        await tutoringApi.acceptTutor(tutor);
        await this.refreshListView();
    }

    async remove(tutor: Tutor) {
        await tutoringApi.removeTutor(tutor.user.id, tutor.id);
        this.$notification.success({
            message: this.$t("Successfully removed") as string,
            description: this.$t(
                "You have successfully remove {user} as tutor for {course}.",
                {
                    user: `${tutor.user.first_name} ${tutor.user.last_name}`,
                    course: tutor.course.name,
                }
            ) as string,
        });
        await this.refreshListView();
    }

    private columns = [
        {
            title: this.$t("Name"),
            key: "name",
            scopedSlots: { customRender: "name" },
        },
        {
            title: this.$t("Course"),
            key: "course",
            scopedSlots: { customRender: "course" },
        },
        {
            title: this.$t("Grade"),
            key: "grade",
            scopedSlots: { customRender: "grade" },
        },
        {
            title: this.$t("Approved"),
            key: "approve",
            scopedSlots: { customRender: "approve" },
        },
        {
            title: this.$t("Remove"),
            key: "remove",
            scopedSlots: { customRender: "remove" },
        },
    ];
}
</script>

<i18n src="./tutors_overview.json"></i18n>
