{% extends "content.htm" %}

{% block title %}Error 410{% endblock %}

{% block content %}
    <h1>{{ _('Error 410 - Gone') }}</h1>

    <div class="row">
        <div class="col-md">
            <p>
                {{ _('The requested URL was deleted.') }}
            </p>

            <br>
            <br>
            <img src="{{ url_for('static', filename='img/404.png') }}" style="max-width: 300px;" alt="Oh no! It looks like you have found a dead Link!">
            <br>
            <i>Oh no! It looks like you have found a dead Link!</i>

            {% if can_write %}
                <br>
                <br>
                <p>
                    <a href='{{ url_for('pages.root') }}'>
                        <i class='far fa-edit'></i> <i>{{ _('Republish this page in the page overview') }}</i>
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
