{% extends "base.htm" %}

{% block page %}
<div class="row">
    {% include 'navigation/view_sidebar.htm' %}

    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10" id="navigation_backtrack">
                {% include 'navigation/view_backtrack.htm' %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
