{% extends 'base.htm' %}

{% block title %}
    {{ contest.name }} - {{ _('Submissions') }}
{% endblock %}

{% block page %}
{% if contest %}
<h1>{{ contest.name }}</h1>
<legend>{{ _('Submissions') }}</legend>


<div class='table-responsive'>
    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>{{ _('Time') }}</th>
                <th>{{ _('Team') }} / {{ _('User') }}</th>
                <th>{{ _('Result') }}</th>
                <th>{{ _('Problem') }}</th>
                <th>{{ _('Language') }}</th>
                {%- if admin -%}
                <th></th>
                {%- endif -%}
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            {%- if view_all or submission.team_id == team -%}
            <tr>
                <td>{{ submission.time | datetime }}</td>
                <td>
                    {% if admin %}
                    <a href="{{ url_for('domjudge.contest_submissions_view',
                    contest_id=contest.id, team_id=submission.team_id) }}">
                        {{ submission.team }}
                    </a>
                    {%- else -%}
                        {{ submission.team }}
                    {%- endif %}
                </td>
                <td class='{{ submission.result_class }}'>{{ submission.result }}</td>
                <td>
                    <a href="{{ url_for('domjudge.contest_problem_view',
                        contest_id=contest.id, problem_id=submission.problem.id) }}" target="_blank">
                        {{ submission.problem.name }}
                    </a>
                </td>
                <td>{{ submission.language }}</td>
                {%- if admin -%}
                <td>
                    <a href="{{ urljoin(domjudge_url, '/jury/submissions/{}'.format(submission.id)) }}" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                        {{ _('View submission') }}
                    </a>
                </td>
                {%- endif -%}
            </tr>
            {%- endif -%}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="control-group">
    <div class="controls btn-group">
        <a href="{{ url_for('domjudge.contest_view', contest_id=contest.id) }}" class='btn btn-primary'>
            <i class="fas fa-arrow-left"></i> {{_('Back')}}
        </a>
    </div>
</div>
{% else %}
<div class="control-group">
    <div class="controls btn-group">
        <a href="{{ url_for('domjudge.contest_list') }}" class='btn btn-primary'>
            <i class="fas fa-arrow-left"></i> {{_('Back')}}
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
